.card.skeleton {
  border: none;
  cursor: default;

  /* Bootstrap .card overwrite */
  background-color: transparent;
}

.card__status {
  margin-top: var(--05pt);
}

.card__text {
  margin-top: var(--1pt);
}
