.info-callToAction {
  width: 85%;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 0);
}

.info-callToAction i {
  color: white;
}

@media (max-height: 600px) and (orientation: landscape) {
  .info-callToAction {
    display: none;
  }
}
