.similarBelt.childBelt .WorkCard .book-cover {
  background-color: var(--porcelain);
}

.similarBelt.childBelt .WorkCard .expand-more-wrapper {
  bottom: -50px;
}

.similarBelt.childBelt .WorkCard:first-child .whiteLine {
  width: 500%;
  left: -400%;
}

.similarBelt.childBelt .WorkCard:last-child .whiteLine {
  width: 500%;
  right: -400%;
}

.similarBelt.childBelt .swiper-button-prev {
  left: 0rem;
}

.similarBelt.childBelt .swiper-button-next {
  right: 0rem;
}

.similarBelt.childBelt
  .swiper-container-horizontal
  > .swiper-pagination-bullets {
  top: 10px;
  text-align: right;
  height: 20px;
}

.similarBelt.childBelt .WorkCard .whiteLine {
  width: 200%;
  height: 50px;
  position: absolute;
  bottom: -50px;
  left: -50%;
  z-index: 1;
  background-color: white;
}

.similarBelt.lys-graa .swiper-container {
  background-color: #f8f8f8;
}

.similarBelt.lys-graa .WorkCard .hover-details {
  background: linear-gradient(transparent, var(--lys-graa) 40%) !important;
}
