.Belt_editButton {
  position: absolute;
  right: 0;
  top: 42px;
  cursor: pointer;
  z-index: 1;
}

.belt .logo-circle {
  width: 70px;
  height: 70px;
  min-width: 70px;
  border: 20px solid var(--due);
  border-radius: 50%;
}

.belt textarea.value-missing {
  border: 1px solid var(--fersken);
  outline: none;
}

.belt textarea.value-missing::placeholder {
  color: var(--fersken);
}

.belt .scrollable-tags {
  width: 100vw;
}
