.WorkSlider__no-hits-container {
  max-width: 460px;
  color: var(--silver-chalice);
  text-align: center;
  margin: auto;
  top: 120px;
  z-index: 2;
  height: 0;
}

@media only screen and (max-width: 768px) {
  .WorkSlider__no-hits-container {
    top: 95px;
  }
}

@media only screen and (max-width: 480px) {
  .WorkSlider__no-hits-container {
    top: 60px;
  }
}


