.work-slider {
  position: relative;
}

.work-slider__no-hits-container {
  position: relative;
  max-width: 460px;
  color: var(--silver-chalice);
  text-align: center;
  margin: auto;
  top: 120px;
  z-index: 2;
  height: 0;
}

@media only screen and (max-width: 768px) {
  .work-slider__no-hits-container {
    top: 95px;
  }
}

@media only screen and (max-width: 576px) {
  .work-slider__no-hits-container {
    top: 60px;
  }
}
