.Heading__hero {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.5vw;
  line-height: 60px;
}

.Heading__lead {
  font-weight: 400;
  font-size: 1.6em;
  line-height: 24px;
}

.Heading__section {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 36px;
}

.Heading__title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 16px;
}
.Heading__subtitle {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 14px;
}
.Heading__peach-subtitle{
  font-family: var(--primary-font);
  text-align: center;
  margin: 1em;
  font-size: 1.1em;
  color: var(--fersken);
}
@media only screen and (max-width: 600px) {
  .Heading__lead {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 20px;
  }
  .Heading__section {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .Heading__section strong {
    font-weight: 600;
  }
  .Heading__title {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 12px;
  }
}
