.nyc_output/
build/
coverage/
current.env
node_modules/
npm-debug.log
scratch.js
src/data/*
!src/data/README.md
!src/data/librarian-recommends.json
!src/data/examples/
.cache
alias
versions
.idea/
content-first.iml
.DS_Store
dump.rdb
report.xml
e2e/cypress/screenshots
e2e/cypress/videos
e2e/reports/
logs
storage_type_id.env
codeStyles/
inspectionProfiles/
misc.xml
modules.xml
vcs.xml
watcherTasks.xml
workspace.xml
