.short-badge {
  letter-spacing: 2px;
}
.top-bar-dropdown-list--close-btn {
  font-size: 20px;
  cursor: pointer;
  color: var(--petroleum);
  position: absolute;
  top: 15px;
  left: 15px;
}
.top-bar-dropdown-list--content {
  position: fixed;
  background: var(--lys-graa);
  height: 600px;
  max-height: 80vh;
  width: 350px;
  right: 10px;
  top: 80px;
  z-index: 1100;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.175);
  opacity: 1;
  visibility: visible;
  transition: all 0.15s ease-in-out;
  padding-top: 21px;
}

.top-bar-dropdown-list--content.empty-list {
  height: auto;
}

.slide-out {
  visibility: hidden;
  transition: all 0.15s ease-in-out;
  opacity: 0;
  right: -10px;
}
.top-bar-dropdown-list--empty-text {
  margin: 50px;
}
.top-bar-dropdown-list--elements {
  height: calc(100% - 125px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3px 0px;
}
.top-bar-dropdown-list-element {
  margin: 10px;
  margin: 10px 10px 0 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  position: relative;
  clear: both;
  overflow: hidden;
}
.top-bar-dropdown-list-element:after {
  content: ' ';
  display: block;
  clear: both;
}
.top-bar-dropdown-list-element:last-child {
  border-bottom: 0;
}
.top-bar-dropdown-list-element--header a {
  font-family: var(--primary-font);
  color: var(--petroleum);
  font-weight: 600;
  font-size: 1.1em;
}
.top-bar-dropdown-list-element--cover-image {
  display: inline-block;
  float: left;
  padding: 2px;
}
.top-bar-dropdown-list-element--cover-image img {
  width: 40px;
}
.top-bar-dropdown-list-element--text {
  display: inline-block;
  float: left;
  width: 200px;
  margin-left: 1.5em;
  margin-top: -4px;
}
.top-bar-dropdown-list-element .remove-btn {
  position: absolute;
  right: 0px;
  font-size: 18px;
  cursor: pointer;
  color: var(--silver-chalice);
}
.top-bar-dropdown-list-element--taxonomy-description {
  color: var(--petroleum);
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.top-bar-dropdown-list-element--origin {
  color: gray;
  font-size: 0.8em;
}
.top-bar-dropdown-list--more-elements {
  margin: 10px;
}
.top-bar-dropdown-list--more-elements-line {
  border-bottom: 1px solid lightgray;
  margin-top: -9px;
}
.top-bar-dropdown-list--more-elements-text {
  background: #fff;
  padding: 0 10px;
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.top-bar-dropdown-list--footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  left: 0;
  right: 0;
  margin: 3px auto 0 auto;
  border-top: 1px solid lightgray;
  padding: 35px 0 23px 0;
}
.top-bar-dropdown-list--more-btn {
  margin: auto;
  background: var(--concrete);
  color: var(--petroleum);
}
.top-bar-dropdown-list--merge-modal .work-list {
  margin-top: 20px;
}
.top-bar-dropdown-list--merge-modal .work-item-small {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--lightgrey);
}
.top-bar-dropdown-list--merge-modal .more-btn {
  margin-top: 30px;
}
.short-list-item {
  padding-right: 15px;
}
.top-bar-upper-toolbar {
  marginBottom: -0.7em;
  padding-right: 15px;
}
.top-bar-upper-toolbar + .Divider {
  margin-top: 0px;
}
.bottom-toolbar {
  padding-right: 15px;
}
.Toolbar.desktop-styling,
.mobile-styling button,
.mobile-styling p.Text {
  margin-top: 1em;
}
.Toolbar.mobile-styling div:first-child button:first-child {
  margin-left: 0!important;
}

.top-bar-dropdown-list-page {
  padding-left: 0;
  padding-right: 0;
  max-width: 672px;
}
.top-bar-dropdown-list-page .items {
  margin-top: 9px;
}
.top-bar-dropdown-list-page .items .item {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  overflow: hidden;
}
.top-bar-dropdown-list-page .items .item:first-child {
  border-top: 1px solid lightgray;
}
.top-bar-dropdown-list-page .remove-btn {
  position: absolute;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
.top-bar-dropdown-list-page .book-cover {
  height: 60px;
  float: left;
}
.top-bar-dropdown-list-page .title {
  font-family: var(--primary-font);
  font-style: italic;
  font-weight: bold;
}
.top-bar-dropdown-list-page .creator {
  font-family: var(--primary-font);
  color: grey;
}
.top-bar-dropdown-list-page textarea {
  resize: none;
  width: 200px;
  margin-top: 10px;
}
.top-bar-dropdown-list-page .item form {
  width: 200px;
  margin-top: 10px;
}
.top-bar-dropdown-list-page textarea {
  resize: none;
}
.top-bar-dropdown-list-page .glyphicon {
  font-size: 11px;
}
.top-bar-dropdown-list-page .add-to-list > span,
.top-bar-dropdown-list-page .order-book > span {
  cursor: pointer;
}
.top-bar-dropdown-list-page .empty-list-text {
  font-size: 24px;
  margin-top: 200px;
}

.top-bar-dropdown-shortlist-item-page {
  margin-left: 19px;
  width: 100%;
}

.top-bar-dropdown-shortlist-item-page .Toolbar .Text {
  white-space: nowrap;
}

.dropdownlist-leave {
  opacity: 1;
  max-height: 200px;
}
.dropdownlist-leave.dropdownlist-leave-active {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 0;
  overflow: hidden;
}
.dropdownlist-leave.dropdownlist-leave-active {
  opacity: 0;
  max-height: 0px;
  transition: all 0.2s;
}
/* scrollbar in dropdownlist*/
.top-bar-dropdown-list--elements::-webkit-scrollbar {
  width: 8px;
}
.top-bar-dropdown-list--elements::-webkit-scrollbar-track {
  background: var(--concrete);
}
.top-bar-dropdown-list--elements::-webkit-scrollbar-thumb {
  background: var(--porcelain);
}
.top-bar-dropdown-list--elements::-webkit-scrollbar-thumb:hover {
  background: var(--alto);
}
.list-card-brick-small {
  background-color: #fff;
  width: 70%;
  height: 5px;
  border-radius: 1px;
  align-self: flex-start;
}
.list-card-coverTemplate-small {
  padding: 7px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list-card-brick-small:nth-child(2) {
  align-self: flex-end;
}

/* Hacks for IE10 and above */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .top-bar-dropdown-list-element--cover-image img {
    max-width: 40px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .desktop-styling {
    display: none!important;
  }
  .top-bar-upper-toolbar,
  .short-list-item {
    padding-right: 0;
  }
  .short-list-item .remove-btn {
    right: 0;
  }
  .bottom-toolbar {
    margin-top: 1em!important;
    padding-right: 0!important;
  }
  .bottom-toolbar .Toolbar__right {
    flex-direction: column-reverse;
    justify-content: right;
    align-items: flex-end;
  }
  .bottom-toolbar .Toolbar__right button {
    margin-bottom: 1em;
  }
}

@media (min-width: 576px) {
  .mobile-styling {
    display: none;
  }
}