.topbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3000;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
  border-bottom: 1px solid var(--pistache);
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/*
  Topbar navigation
*/

.topbar .topbar__navigation {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex: auto;
}

.topbar .topbar__navigation .navigation-btn i {
  padding: var(--2pt) var(--05pt) var(--2pt) var(--1pt);
  color: var(--petroleum);
}

.topbar .topbar__navigation .navigation-btn span {
  padding: var(--2pt) var(--1pt) var(--2pt) var(--05pt);
  color: var(--petroleum);
}

.topbar .topbar__navigation .navigation-btn {
  min-width: 80px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  border-left: 1px solid var(--pistache);
  cursor: pointer;
  position: relative;
  z-index: 3;
}

/* exclude searchbar */
.topbar.collapsed
  .topbar__navigation
  .navigation-btn.navigation-btn__search--bar {
  width: 80px;
}
.topbar .topbar__navigation .navigation-btn.navigation-btn__search--bar {
  width: auto;
  min-width: auto;
}

.searchbar__cancel--btn {
  width: 80px;
  text-align: center;
}

.topbar .navigation-btn.navigation-btn__shortlist--btn,
.topbar .navigation-btn.navigation-btn__search--btn,
.topbar .navigation-btn.navigation-btn__menu--burger {
  display: none;
}

.navigation-btn__shortlist--dropdown.expanded,
.navigation-btn__list--dropdown.expanded {
  background: var(--grey-nurse);
  color: white;
}

/* .topbar__search-bar--container seems to be
  unnecessary in the code, but prevents "flicker"
  on browser resize + tag removal. */
.topbar .topbar__search-bar--container {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}

.topbar.collapsed .topbar__search-bar--wrap {
  width: 0px !important;
}

.topbar .topbar__navigation .topbar__search-bar--wrap {
  width: 0px;
  height: 40px;
  padding: 0 !important;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.topbar .topbar__navigation .topbar__search-bar--wrap input {
  min-width: 300px;
  border: 0;
}

.topbar.collapsed .topbar__navigation--icon {
  display: none;
}

.topbar .topbar__navigation .navigation-btn > span,
.topbar .topbar__navigation .navigation-btn > i,
.topbar .topbar__navigation .navigation-btn > .badge {
  transition-timing-function: ease-in;
}

.topbar__logo h1:hover,
.navigation-btn:hover > span,
.navigation-btn:hover > i,
.navigation-btn:hover > .badge {
  color: var(--elm) !important;
  transition-timing-function: ease-out;
}

.navigation-btn__search--bar .searchbar__cancel--btn.hide i {
  display: none;
}

/*
  Topbar user image and default icon
*/

.topbar .topbar__navigation .navigation-btn .profile-top,
.topbar .topbar__navigation .navigation-btn .profile-top img {
  height: 35px;
}

.topbar .topbar__navigation .navigation-btn .profile-top .profile-image,
.topbar .topbar__navigation .navigation-btn .profile-top .profile-image i {
  padding: 0;
}

.topbar__navigation--icon {
  height: 100%;
  min-width: 80px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 3;
}

.topbar__navigation--icon img {
  height: 28px;
}

/*
    Topbar logo
*/

.topbar .topbar__logo {
  position: relative;
  z-index: 2;
  background-color: white;
  color: var(--petroleum);
  text-decoration: none !important;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 var(--3pt);
  cursor: pointer;
  margin: 0;
}

.topbar__logo object {
  height: 28px;
  margin: 1px 7px 0 0;
  pointer-events: none;
}

.topbar__logo .topbar__logo-title {
  margin: 0;
}

/* Beta styles */

.topbar .topbar__logo .logo-beta-wrap {
  display: flex;
  position: relative;
  margin-top: -5px;
}

.topbar .topbar__logo .logo-beta-sign {
  margin: 0 var(--1pt) 0 0;
}

/*
  Topbar Dropdown
*/

/* Overlay prevents the profile/burger menu to
toggle on top of navigation bar - in the open/close animation */

.topbar__overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 2;
}

.topbar__dropdown {
  position: absolute;
  display: block;
  top: 90px;
  right: 10px;
  width: 300px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.175);
  padding: 0;
  margin: 0;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  z-index: 1;
}

.topbar__dropdown.hidden {
  transform: translate(25%, 0);
  opacity: 0;
  pointer-events: none;
  transition-timing-function: ease-out;
}

.topbar__dropdown li {
  list-style: none;
  width: 100%;
  cursor: pointer;
}

.topbar__dropdown li span,
.topbar__dropdown li a span {
  padding: var(--2pt);
  display: block;
  color: var(--petroleum);
}

.topbar__dropdown li:last-child span,
.topbar__dropdown li:last-child a span,
.topbar__dropdown li:nth-child(2) span,
.topbar__dropdown li:nth-child(2) a span {
  padding: var(--2pt);
}

.topbar__dropdown li.divider {
  height: 1px;
  padding: 0;
  background-color: var(--porcelain);
}

.topbar__dropdown li:hover span,
.topbar__dropdown li:hover a span {
  color: var(--elm);
}

/*

  Media Queries

 */

@media only screen and (max-width: 768px) {
  .topbar .navigation-btn.navigation-btn__shortlist--btn,
  .topbar .navigation-btn.navigation-btn__search--btn,
  .topbar .navigation-btn.navigation-btn__menu--burger {
    display: flex;
  }

  .topbar .navigation-btn.navigation-btn__search--btn i,
  .topbar .navigation-btn.navigation-btn__menu--burger i {
    padding: 0;
  }

  .navigation-btn.navigation-btn__shortlist--btn span {
    padding: 0;
    margin-left: -9px;
  }

  .topbar .navigation-btn.navigation-btn__shortlist--dropdown,
  .topbar .navigation-btn.navigation-btn__list--dropdown,
  .topbar .navigation-btn.navigation-btn__search--bar,
  .topbar .navigation-btn.navigation-btn__menu--user,
  .navigation-btn__dropdown-list--btn,
  .topbar__navigation--icon {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .topbar {
    height: 60px;
  }

  .topbar__logo .logo-beta-link {
    display: none;
  }

  .topbar .topbar__logo {
    padding: 0 var(--2pt);
  }

  .topbar__logo object {
    height: var(--3pt);
    margin: 6px 7px 0 0;
  }

  .topbar__logo-title {
    font-size: 14px;
  }

  .topbar .topbar__logo .logo-beta-text {
    display: none;
  }

  .topbar .topbar__navigation .navigation-btn {
    min-width: 60px;
    border-left: 0;
  }

  .searchbar__cancel--btn {
    display: none;
  }

  .topbar .topbar__navigation .navigation-btn.navigation__login--link {
    width: auto;
  }

  .topbar .topbar__navigation .navigation-btn i {
    padding: 0;
  }

  .topbar .topbar__dropdown {
    width: 100%;
    right: 0;
    top: 60px;
  }
}
