.orderButton.progress {
  display: flex;
  height: auto;
  align-items: center;
}

.orderButton.success {
  background-color: var(--pistache) !important;
}

.orderButton.error {
  background-color: var(--fersken) !important;
}
