.Input {
  display: block;
  height: 35px;
  width: 100%;
  border: 1px solid var(--porcelain);
  padding-left: 8px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Input__label {
  margin: 0;
}

.Input__wrap input:focus{
  border: solid 1px;
}
