.cookie-warning-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: var(--korn);
    z-index: 10;
    margin: 0;
    max-width: unset;
    padding-bottom:20px;
}

.cookie-warning-content-container {
    margin: auto;
    justify-content: space-evenly;
    padding: 25px;
}

.cookie-warning-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50rem;
    padding-bottom:25px;
}

.cookie-warning-button-link-container {
    width:100%;
    display: flex;
    text-decoration: underline;
    text-align: left;
}

.cookie-warning-link-container {
    align-items: flex-start;
    margin-top:5px;
}

.cookie-warning-button-container {
    align-items: flex-start;
    margin-left:auto;
    margin-right:0;
}

.cookie-warning-button-container .button{
    margin-left: 10px;
    border: 1px solid;
}

.cookie-warning-body span {
    cursor: pointer;
    text-decoration: underline;
}

.off {
    animation: slideOut .7s ease-in-out both;
}

@keyframes slideOut {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -100%;
    }
}

@media (max-width: 768px) {
    .cookie-warning-content-container {
        flex-direction: column;
    }
    .cookie-warning-container {
        height: 250px;
        padding-bottom:300px;
    }
    .cookie-warning-button-link-container {
        width:100%;
        display:inline-block;
    }
    .cookie-warning-button-container .button {
        margin-top: 5px;
        margin-right:5px;
        margin-left: 0;
    }
}
