.banner__wrap {
  height: 160px;
}

.banner {
  margin: auto;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .banner__children {
  align-self: start;
}

.banner .banner__title--wrap {
  display: flex;
  align-self: stretch;
}

.banner .banner__title {
  align-self: center;
}

@media (min-width: 768px) {
  .banner {
    padding: 1rem 57px 1rem 57px;
  }
}

.banner .banner__title--wrap {
  flex-grow: 2;
}
