.spots-container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px -15px;   
}
.spots-container h1 {
    color: white;
    font-size: 1.4em;
    text-align: left;  
    margin: 0;
    text-transform: uppercase;
}
.title-highlighted{
    font-weight: 600;  
}
.spot-item-wide-container,
.spot-item-small-container{
    background-color: grey;
    color: white;
    height: auto;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    padding: 10px 0;
    min-height: 30vh;
    margin-left: 5px;
}
.spot-item-wide-container{
    width: 40%; 
}
.spot-item-small-container{ 
    width: 20%;
}
.tags{
    margin-top: 15px;
    cursor: pointer;
}
.ml-0{
    margin-left: 0px !important;
}
.spot-item-content .tags span{
    background-color: white;
    color: var(--elm);
    display: block;
    border-radius: 4px;
    padding: 2px 12px;
    text-align: center;
    width: fit-content;
    font-weight: 600;
}
.spot-item-content .tags span:hover{
    background-color: var(--pistache);
}
.spot-item-wide-container .spot-item-content .tags span{
    margin-right: 5px;
}
.spot-item-small-container .spot-item-content .tags span{
    margin: 5px 0;
}
.spot-item-wide-container .spot-item-content .tags{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-bottom: 10px;
}
.spot-item-content{
    float: left;
    margin-left: 25px;
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}
.image-spot .spot-item-content{
 margin-top: -20px;   
}
.spot-item-content img{
width: 60px;
}
.spot-item-wide-container .spot-item-content img {
    display: none
}
.spot-item-link-image-background,
.spot-item-link-color-background{
    margin-top: 15px;
    border-bottom: 2px solid;
    width: fit-content;
}
.spot-item-link-image-background:hover,
.spot-item-link-color-background:hover{
    text-decoration: none;
}
.spot-item-link-color-background{
    color: var(--elm);
}
.spot-item-link-image-background{
    color: white;
}
.spot-item-circle{
    width: 80px;
    height: 80px;
    margin-left: 0px;
    border: 24px solid #fff;
    border-radius: 100%;
    background-image: none;
}
@media only screen and (max-width: 600px) {
.spots-container {
    display: flex;
    overflow: scroll;
    justify-content: start;
}
.spot-item-wide-container{
    min-width: 100%;
}    
.spot-item-small-container{ 
    min-width: 75%;
}
.spot-item-wide-container,
.spot-item-small-container{
    height: 30vh;
}
.spots-container h1 {
        font-size: 1.2em;     
}
.spot-item-link-image-background,
.spot-item-link-color-background,
.tags{
    margin-top: 5px;
}
.spot-item-content .tags span {
    font-size: 0.9em;
}
.spot-item-circle{
    width: 60px;
    height: 60px;
    margin-left: 0px;
    border: 18px solid #fff;
    border-radius: 100%;
    background-image: none;
}
}
