.listElement .book-cover {
  width: 120px;
}

.element-context-menu {
  /* flex hack to keep dropdown close to icon */
  align-self: start;
}

@media (max-width: 768px) {
  .listElement .book-cover {
    width: 70px;
  }

  .element-context-menu {
    align-self: center;
  }
}
