.FilterCard__range .rc-slider {
  pointer-events: none;
}

.FilterCard__range .rc-slider-track {
  background-color: var(--elm);
}

.FilterCard__range .rc-slider-handle {
  border: 2px solid var(--elm);
  background-color: var(--elm);
}

.FilterCard__range .FilterCard__rangeItems span {
  display: inline-block;
  vertical-align: middle;
}

.FilterCard__range .FilterCard__rangeItems {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem 0 0 0;
  color: var(--elm);
}

.FilterCard__range .FilterCard__rangeItems .FilterCard__rangeItem {
  max-width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FilterCard__range
  .FilterCard__rangeItems
  .FilterCard__rangeItem::first-letter {
  text-transform: uppercase;
}

/* if card values is equal */

.FilterCard__range.FilterCard__rangeItems-equal .FilterCard__rangeIconWrap {
  margin-top: 0rem;
}

.FilterCard__range.FilterCard__rangeItems-equal .FilterCard__rangeItems {
  font-size: 0.85rem;
  color: var(--due);
}

.FilterCard__range.FilterCard__rangeItems-equal
  .FilterCard__rangeItems
  .FilterCard__rangeItem {
  max-width: 100%;
}

/* if card is expanded */

.FilterCard__container.FilterCard-expanded
  .FilterCard__content
  .FilterCard__range
  .rc-slider {
  pointer-events: auto;
}

.FilterCard__container.FilterCard-expanded
  .FilterCard__content
  .FilterCard__range
  .FilterCard__rangeItems {
  font-size: 1rem;
  display: block;
  color: var(--petroleum);
  padding: 1rem 0 0 0;
}

.FilterCard__container.FilterCard-expanded
  .FilterCard__range
  .FilterCard__rangeIconWrap {
  margin-top: 0rem;
}

/* kioskmode active */

.App.kioskmode
  .FilterCard__container.FilterCard-expanded
  .FilterCard__range
  .rc-slider-handle {
  width: 24px;
  height: 24px;
  margin-top: -11px;
}

.App.kioskmode
  .FilterCard__container.FilterCard-expanded
  .FilterCard__range
  .rc-slider {
  width: calc(100% - var(--2pt));
  margin: 20px auto 0 auto;
}

.App.kioskmode
  .FilterCard__container.FilterCard-expanded
  .FilterCard__range
  .FilterCard__rangeIconWrap {
  display: none;
}

.App.kioskmode .FilterCard__range .rc-slider-track {
  background-color: var(--silver-chalice);
}

.App.kioskmode .FilterCard__range .rc-slider-handle {
  border: 2px solid var(--silver-chalice);
  background-color: var(--silver-chalice);
}

.App.kioskmode
  .FilterCard__container.FilterCard-expanded
  .FilterCard__range
  .rc-slider-track {
  background-color: var(--korn);
}

.App.kioskmode
  .FilterCard__container.FilterCard-expanded
  .FilterCard__range
  .rc-slider-handle {
  border: 2px solid var(--korn);
  background-color: var(--korn);
}

.App.kioskmode .FilterCard__range .FilterCard__rangeIconWrap i {
  color: var(--silver-chalice) !important;
}

@media only screen and (max-width: 600px) {
  .FilterCard__range .FilterCard__rangeIconWrap {
    display: none;
  }

  .FilterCard__range {
    padding-top: 0.3rem;
  }

  .FilterCard__range .FilterCard__rangeItems {
    padding: 0;
  }

  /* if card is expanded */

  .FilterCard__container.FilterCard-expanded
    .FilterCard__range
    .FilterCard__rangeIconWrap {
    display: block;
  }

  .FilterCard__container.FilterCard-expanded
    .FilterCard__range
    .FilterCard__rangeItems {
    padding: 0.5rem;
  }

  .FilterCard__container.FilterCard-expanded
    .FilterCard__range
    .rc-slider-handle {
    width: 24px;
    height: 24px;
    margin-top: -11px;
    margin-left: -12px;
  }
}
