.Textarea {
  display: block;
  height: 30px;
  width: 100%;
  border: 1px solid var(--porcelain);
  padding: 8px;
  outline: none;
}

.Textarea__label {
  margin: 0;
}
.Textarea__wrap textarea:focus {
  outline: solid 1px;
  outline-color: var(--elm);
  outline-offset: -2px;
}
