.reorder-list-modal-window {
  width: 750px;
}

.compare-books {
  padding-top: var(--1pt);
}

.compare-books .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.compare-books .cards .card {
  width: calc(50% - var(--4pt));
  display: flex;

  align-items: center;
  background-color: var(--concrete);
  height: var(--8pt);
  padding: var(--2pt);
  border-radius: var(--05pt);

  /* #bootstrap-overwrite */
  border: none;
  border-radius: 0;
  flex-direction: row;
}

.compare-books .cards .card span {
  width: 100%;
  padding: 0 var(--2pt);
}

.compare-books .cards .card span p {
  width: 100%;
  padding: 0 var(--2pt) 0 0;
}

.compare_loans .cards .card span p {
  padding: 0;
}

.compare-books .cards .card span p span {
  display: flex;
  justify-content: center;
}

.compare-books .cards .card strong,
.compare-books .cards .card_loan strong {
  font-size: 18px;
  vertical-align: middle;
  margin-right: var(--2pt);
}

.compare-books .cards .card_loan strong {
  margin: 0 var(--2pt) 0 var(--1pt);
}

.compare-books .cards .card img {
  max-width: var(--4pt);
  min-width: var(--4pt);
}

.compare-books .cards .card_vs,
.compare-books .cards .card_loan {
  min-width: var(--8pt);
  text-align: center;
  align-self: center;
  order: 0;
}

.compare-books .cards .card_loan {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  padding: var(--1pt);
  height: var(--8pt);
  border: 1px solid black;
  margin: 0 var(--2pt);
}

.compare-books .cards .card_loan p span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.compare-books .compare .compare_title {
  padding: var(--2pt) 0 var(--1pt) 0;
}

.compare .compare_informations {
  background-color: var(--concrete);
  padding: var(--1pt) var(--2pt);
}

.compare_informations .info {
  display: flex;
  align-items: center;
  margin-top: var(--1pt);
}

.info .info_color {
  width: var(--5pt);
  height: var(--2pt);
  margin-right: var(--1pt);
  background-color: var(--porcelain);
}

.info.info_main .info_color {
  background-color: var(--pistache);
}

.compare_appeals {
  padding: 0 var(--2pt) var(--1pt) var(--2pt);
  background-color: var(--concrete);
  pointer-events: none;
  cursor: default;
}

.compare_appeals .compare_tag {
  display: inline-block;
  margin: 0 var(--1pt) var(--1pt) 0;
}

.compare_appeals .compare_tag button {
  margin: 0;
}

.compare_appeals-title {
  padding: var(--1pt) 0;
}

.compare_tag {
  margin-right: var(--1pt);
}

.compare_tag.compare_match {
  background-color: var(--pistache);
}

.compare_loans .cards .card {
  width: calc(100% / 3);
}

.compare_loans .cards .card img {
  max-width: var(--3pt);
  min-width: var(--3pt);
}

.compare_appeals .compare_no-tags {
  padding: var(--2pt) 0;
}

.compare_loans_indicator {
  padding-top: var(--1pt);
}

.card_vs .material-icons-compare_arrows {
  display: none;
}

@media only screen and (max-width: 750px) {
  .reorder-list-modal-window {
    width: 100%;
  }

  .compare-books .cards {
    max-width: 200px;
    margin: auto;
    padding: var(--2pt) 0;
  }

  .compare-books .cards .card {
    background-color: transparent;
    height: auto;
    padding: 0;
  }

  .compare-books .cards .card .cards_title {
    display: none;
  }

  .card_vs p {
    display: none;
  }
  .card_vs .material-icons-compare_arrows {
    display: block;
  }

  .compare-books .cards .card {
    width: var(--6pt);
  }

  .compare-books .cards .card span {
    padding: 0 var(--1pt);
  }

  .compare_loans .cards {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    max-width: 100%;
  }

  .compare_loans .cards .card {
    width: calc(50% - var(--05pt));
    background-color: var(--concrete);
    margin-bottom: var(--1pt);
    height: var(--8pt);
    padding: var(--1pt);
  }

  .compare_loans .cards .card span p span {
    padding: 0;
  }

  .compare_loans .cards .card img {
    max-width: var(--4pt);
    min-width: var(--4pt);
  }

  .compare_loans .cards .card_loan {
    margin: 0 0 0 var(--1pt);
    width: calc(50% - var(--05pt));
    background-color: transparent;
    order: 99 !important;
    height: 136px;
  }

  .compare_loans .cards .card_loan p {
    width: 100%;
  }

  .compare_loans .cards .card_loan p span {
    flex-direction: column;
  }

  .compare_loans .cards .Card_loan p span strong {
    margin: 0 0 var(--1pt) 0;
  }
}
