/*
  work-preview overwritten styles
  - specific for the work-page
*/

.work-page .work-preview {
  padding: var(--5pt);
}

.work-page .work-preview__tabs-wrap {
  background-color: var(--lys-graa);
  padding: 0 var(--5pt);
}

.work-page .work-preview__tabs-wrap .tabs {
}

.work-page .work-preview__tabs-wrap .Tabs__pagination {
  padding: var(--3pt) 0 var(--3pt) 0;
}

.work-page .work-preview__tabs-wrap .Tabs__container-horizontal {
  padding: var(--8pt) 0 var(--3pt) 0;
}

.work-page .work-preview .book-cover {
  max-width: 250px;
  min-width: 250px;
}

/*
  Media queries
  work-preview overwritten styles
*/

@media only screen and (max-width: 1200px) {
  .work-page .work-preview {
    flex-direction: column;
  }

  .work-page .work-preview .work-preview__work,
  .work-page .work-preview .work-preview__tabs-wrap {
    max-width: 100%;
  }

  .work-page .work-preview .work-preview__tabs-wrap {
    margin-top: var(--3pt);
  }

  .work-page .work-preview__information {
    margin: 0 0 0 var(--5pt);
  }
}

@media only screen and (max-width: 576px) {
  .work-page .work-preview .work-preview__work {
    flex-direction: column;
  }

  .work-page .work-preview__information {
    margin: var(--2pt);
  }

  .work-preview__cover-link {
    width: 100%;
    display: block;
    padding: var(--2pt);
    background-color: var(--lys-graa);

    /* prevent flex-start height hack */
    align-self: center;
  }

  .work-preview__cover-link .work-preview__cover {
    width: 150px;
    margin: auto;
  }

  .work-page .work-preview__tabs-wrap {
    padding: 0 var(--2pt);
  }

  .work-preview:not(.preview) {
    padding: 0;
  }
}
