.Hero {
  height: 70vh;
}

.Hero .swiper-container {
  padding-top: 0;
}

.Hero .swiper-container,
.Hero .swiper-wrapper {
  height: 100%;
}

.Hero .swiper-slide {
  background-position: center center;
  background-size: cover;
  padding-top: 10vh;
}

.Hero .swiper-container-horizontal > .swiper-pagination-bullets {
  top: auto;
  text-align: center;
  bottom: 10px;
}

.Hero .swiper-pagination-bullet {
  background: white;
}
.Hero .swiper-pagination-bullet-active {
  background-color: white;
}

.Hero .searchbar {
  height: 60px;
}

.Hero .black-shadow {
  text-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
}
