.belts {
  padding-right: 30px;
}

.desktop-slider {
  position: relative;
  margin-top: -20px;
}
/* Override id swiper style */
.swiper-button-next,
.swiper-button-prev {
  font-size: 3rem;
  background-image: none;
  position: absolute !important;
}
.swiper-button-next {
  right: -30px;
}
.swiper-button-prev {
  left: -30px;
}

.swiper-container {
  padding-top: 40px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  top: 0px;
  text-align: right;
  height: 20px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
}
.swiper-pagination-bullet-active {
  background: #00303b;
}

.mobile-slider-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;
}
.mobile-slider-wrapper::-webkit-scrollbar {
  display: none;
}
.mobile-slider {
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.mobile-slider > div {
  white-space: normal;
}

@media only screen and (min-width: 480px) {
  .belt .header .list-card-nohover h1{
    padding-bottom: 10px;
    padding-top: 10px;
  }
}