.notification--modal {
  width: 824px;
}

.wayFinder__modal--subtitle {
  margin-top: 2em;
}

.wayFinder__modal--wayfinder-list {
  margin-top: 0.6em;
  margin-bottom: 3em;
}

.short-list-item .home-status-indicator {
  justify-content: center;
}

.shortlist__item .find-book-button {
  margin-left: 0;
}

.find-book-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
