.order-elements--container {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100px;
  max-height: calc(100vh - 380px) ;
}

.order-elements--wrap {
  min-height: 200px;
  max-height: calc(100vh - 400px) !important;
}

@media (max-height: 1024px) {
  .order-elements--wrap {
    max-height: calc(100vh - 200px) !important;
  }
}

@media (max-height: 320px) {
  .order-elements--wrap {
    min-height: 300px;
  }
  .order-elements--container {
    min-height: 70px;
  }
}



