.filter-page-title {
  font-size: 30px;
  vertical-align: bottom;
  cursor: default;
  margin-bottom: 30px;
  margin-top: 10px;
}
.filter-page-title span {
  margin-right: 20px;
}

.filter-page-top {
  background: white;
  padding-top: 30px;
  padding-bottom: 10px;
}
.filter-page-top input {
  font-family: var(--secondary-font);
}
.filters {
  /* box-shadow: 0px 5px 10px -4px #888888; */
}
.selected-filters {
}
.selected-filters hr {
  border-color: black;
  border-width: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.add-filter {
  display: inline-block;
  font-size: 14px;
  padding: 3px 8px;
  /* opacity: 0.9; */
  vertical-align: middle;
  /* margin-bottom: -1em; */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.sort-options {
  margin-top: 30px;
  font-size: 20px;
}
.sort-options span {
  margin-right: 10px;
}
.edit-filters {
  /* transition: all 1.2s ease-in-out; */
  background: white;
  padding-bottom: 20px;
  padding-right: 25px;
  margin-top: -15px;
}
.edit-filters .btn {
  text-transform: capitalize;
}
.edit-filters .tags {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.edit-filters .hide-tags {
  opacity: 0;
}
.edit-filters .btn {
  margin-right: 10px;
  margin-top: 10px;
  padding: 3px 8px;
  font-size: 13px;
}
.edit-filters .btn-inactive {
  background: #f3f3f3;
  color: var(--darkgrey);
  border: 1px #f3f3f3 solid;
}
.edit-filters .btn-active {
  /* color: black; */
  background: #cdcdcd;
  /* border: 1px var(--orange) solid; */
}
.edit-filters .approve {
  font-size: 20px;
  width: 180px;
}
.selected-filter img {
  margin-left: 10px;
  padding-bottom: 2px;
  cursor: pointer;
}
.selected-filter {
  vertical-align: top;
}
.reset-filters {
  font-size: 16px;
  font-weight: bold;
  color: #fc492d;
  vertical-align: bottom;
  padding-bottom: 4px;
  cursor: pointer;
}
.selected-filter {
  text-transform: capitalize;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 20px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 15px;
  vertical-align: top;
  background: var(--orange);
}

.filter-page-works {
  margin-top: 80px;
  padding-left: 60px;
}
.contains-selected {
  color: #fc492d;
}
.warning {
  font-size: 26px;
  margin-bottom: 150px;
  margin-top: 150px;
}

.filter-page .filter-group hr {
  border: 1px var(--lightgrey) solid;
}
.filter-page .filter-group h4 {
  font-size: 16px;
  font-weight: 600;
}

.tags-suggestion-list {
  border: 0;
}
.tags-suggestion-list input:focus {
  outline: none;
  box-shadow: none;
}
.tags-suggestion-list:hover {
  border: 0;
}
.tags-suggestion-list .react-autosuggest__suggestions-container {
  margin-top: 15px;
  border: 0;
  color: black;
  font-family: var(--secondary-font);
}
.tags-suggestion-list .react-autosuggest__suggestion {
  margin-bottom: 5px;
  text-transform: capitalize;
}
.tags-suggestion-list .section-title {
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -18px;
  padding-right: 5px;
  padding-top: 8px;
  border-top: solid var(--lightgrey) 1px;
}

.tags-suggestion-list
  .react-autosuggest__section-container:first-child
  .section-title {
  border-top: 0;
}
