.filter-page-title {
  font-size: 30px;
  vertical-align: bottom;
  cursor: default;
  margin-bottom: 30px;
  margin-top: 10px;
}
.filter-page-title span {
  margin-right: 20px;
}

.filter-page-top {
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/Filter-bg_v1.jpg');
  background-size: 1400px;
  padding: 30px;
}
.filters {
  box-shadow: 0px 5px 10px -4px  #888888;
}
.selected-filters {

}
.add-filter {
  display: inline-block;
  font-size: 24px;
  opacity: 0.9;
  vertical-align: middle;
  margin-top: 20px;
}
.sort-options {
  margin-top: 30px;
  font-size: 20px;
}
.sort-options span {
  margin-right: 10px;
}
.edit-filters {
  /*transition: all 1.2s ease-in-out;*/
  background: white;
  padding-bottom: 20px;
}
.edit-filters .btn {
  margin-right: 10px;
  margin-top: 10px;
}
.edit-filters .btn-inactive {
  background: #f2dcd6;
  color: #d4574d;
  border: 1px #f2dcd6 solid;
}
.edit-filters .btn-active {
  color: white;
  background: #fc492d;
  border: 1px #fc492d solid;
}
.edit-filters .approve {
  margin-top: 50px;
  font-size: 20px;
  width: 180px;
}

.filter-page select {
   background: transparent;
   border: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   /*padding: 8px;
   padding-left: 15px;*/
   outline: none;
   /*text-decoration: underline;*/
   border-bottom: 1px solid white;

}

.filter-page select option {
  color: black;
  padding: 5px 0;
  font-size: 22px;
}
.filter-page select optgroup {
  color: grey;
}

.selected-filter span {
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
}
.reset-filters {
  font-size: 16px;
  font-weight: bold;
  color: #fc492d;
  margin-left: 20px;
  vertical-align: bottom;
  padding-bottom: 4px;
  cursor: pointer;
}
.selected-filter {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 25px;
  vertical-align: top;
}

.filter-page-works {
  margin-top: 80px;
  padding-left: 60px;
}
.second-level h4  {
  cursor: pointer;
}
.second-level h4 span {
  margin-left: 6px;
  font-size: 12px;
}
.contains-selected {
  color: #fc492d;
}
