/* Remote and local font imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900|Material+Icons');
@import './fonts.css';

/* Global variables */
:root {
  --petroleum: #00414b;
  --elm: #1d768a;
  --fersken: #f37362;
  --lys-fersken: #f38f81;
  --pomegranate: #f2432c;
  --due: #74a9ff;
  --malibu: #74a9ff;
  --french-pass: #bdd5fd;
  --korn: #edb347;
  --pistache: #a8c7b0;
  --sea-mist: #c9ddcf;
  --grey-nurse: #dee7e0;
  --de-york: #81c793;
  --lys-graa: #f8f8f8;
  --concrete: #f3f3f3;
  --porcelain: #e9eaeb;
  --alto: #d8d8d8;
  --silver-chalice: #a7a7a7;
  --kobber: #b17642;
  --mine-shaft: #333333;
  --white: #ffffff;

  --primary-font: 'Montserrat', sans-serif;
  --primary-black: 'Montserrat-black', 'Montserrat', sans-serif;
}
