@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900|Material+Icons');
@import './fonts.css';

/* Global Settings for new design */
:root {
  --petroleum: #00414b;
  --elm: #1d768a;
  --fersken: #f37362;
  --lys-fersken: #f38f81;
  --pomegranate: #f2432c;
  --due: #74a9ff;
  --malibu: #74a9ff;
  --french-pass: #bdd5fd;
  --korn: #edb347;
  --pistache: #a8c7b0;
  --sea-mist: #c9ddcf;
  --grey-nurse: #dee7e0;
  --de-york: #81c793;
  --lys-graa: #f8f8f8;
  --concrete: #f3f3f3;
  --porcelain: #e9eaeb;
  --alto: #d8d8d8;
  --silver-chalice: #a7a7a7;
  --kobber: #b17642;
  --mine-shaft: #333333;
  --white: #ffffff;

  --primary-font: 'Montserrat', sans-serif;
  --primary-black: 'Montserrat-black', 'Montserrat', sans-serif;
}

/* utils */
.french-pass {
  background: var(--french-pass) !important;
}
.french-pass-txt {
  color: var(--french-pass) !important;
}

.korn {
  background-color: var(--korn) !important;
  background: var(--korn) !important;
}
.korn-txt {
  color: var(--korn) !important;
}

.kobber {
  background-color: var(--kobber) !important;
}
.kobber-txt {
  color: var(--kobber) !important;
}

.fersken {
  background-color: var(--fersken) !important;
}
.fersken-txt {
  color: var(--fersken) !important;
}

.lys-graa {
  background-color: var(--lys-graa) !important;
}

.porcelain {
  background-color: var(--porcelain) !important;
}

.pistache {
  background-color: var(--pistache) !important;
}
.pistache-txt {
  color: var(--pistache) !important;
}

.due {
  background-color: var(--due) !important;
}
.due-txt {
  color: var(--due) !important;
}

.de-york {
  background-color: var(--de-york) !important;
}
.de-york-txt {
  color: var(--de-york) !important;
}

.petroleum {
  background-color: var(--petroleum) !important;
}
.petroleum-txt {
  color: var(--petroleum) !important;
}

.white-txt {
  color: #ffffff !important;
}

.fixed-width-col-md {
  width: 780px;
}
.fixed-width-col-sm {
  width: 200px;
}
.width-70 {
  width: 70px !important;
}
.width-120 {
  width: 120px !important;
}

.border-bottom-petroleum {
  border-bottom: 1px solid var(--petroleum);
}
.border-top-petroleum {
  border-top: 1px solid var(--petroleum);
}

.border-pistache {
  border-color: var(--pistache) !important;
}

.box-shadow {
  box-shadow: 0px 5px 5px -5px #333;
}
.box-shadow-top {
  box-shadow: 0 -5px 5px -5px #333;
}

.pointer-events-none {
  pointer-events: none;
}
.pointer-events-initial {
  pointer-events: initial;
}

/* disabled styles */
button:disabled,
button[disabled] {
  color: var(--silver-chalice);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .width-md-70 {
    width: 70px !important;
  }
  .width-md-120 {
    width: 120px !important;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
