/* Global Settings */
@import './global.css';

/* Import util classes */
@import './utils/deprecated-utils.css';
@import './utils/color.css';
@import './utils/general.css';

/* Import component classes */

html,
body {
  height: 100%;
}

html {
  /* Default page font-size */
  font-size: 14px;
  /* Avoid content from jumping when modal is opened/closed */
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;

  /* Dafault font-family and text color */
  font-family: var(--primary-font);
  color: var(--petroleum);
}

/* Remove inner-shadows on iphone */
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Hide native upload button in imageupload fields */
.image-upload input {
  display: none;
}

/* disabled button color */
button:disabled,
button[disabled] {
  color: var(--silver-chalice);
}



button.link span {
  text-decoration: underline;
  color: var(--petroleum);
}
button.link:hover span,
button.link:focus span {
  color: var(--malibu);
}
button.link {
  font-family: "Verdana" sans-serif;
  font-size: 1em;
  text-align: left;
  color: var(--petroleum);
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
