@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f1f1f1;
  font-family: 'Lora', serif;
}

.container {
  background: #fcfcfc;
}

@media (min-width: 1450px) {
  .container {
      width: 1400px;
  }
}
.btn {
  font-family: 'Raleway', sans-serif;
}

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.create-profile {
  height: 500px;
  background-image: url('/Opret-profil-baggrund-v1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.create-profile button {
  font-size: 24px;
  margin-top: 270px;
}

.topbar {
  /*background: inherit;*/
  padding-top: 15px;
  padding-bottom: 15px;
  /*color: black;*/
}
.topbar .login {
  margin-top: 30px;
}
.topbar .login span {
  margin-right: 25px;
  cursor: pointer;
}
.topbar h1 {
  margin: 0;
}
.topbar .header {
  cursor: pointer;
}
.topbar .header img {
  height: 80px;
}
.topbar .header div {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
}

.frontpage-image {
  background: #89b2bf;
  height: 550px;
  background-image: url("/Billede-til-feature_v2.jpg");
  background-size: 1400px;
  background-position: 0px 0px;
}

.belt {
  min-height: 400px;
  margin-bottom: 50px;
  margin-top: 50px;
  /*border: 1px solid lightgray;*/
  /*border-radius: 8px;*/
  background: #fcfcfc;
  position: relative;
  /*box-shadow: 1px 1px 3px #999999;*/
}
.belt .header {
  margin-bottom: 10px;

}
.belt .header .belt-title {
  font-size: 30px;
  font-weight: bold;
  vertical-align: bottom;
  cursor: default;
}

.no-opacity {
  /*margin-left: -50px;*/
  opacity: 0;
  box-shadow: 0px 0px 0px;
  z-index: -1 !important;
}
.no-height {
  max-height: 0 !important;
  /*overflow: hidden !important;*/
}

.belt .header .more-link {
  font-size: 16px;
  font-weight: bold;
  color: rgb(199, 130, 78);
  margin-left: 10px;
  vertical-align: bottom;
  padding-bottom: 4px;
}
.belt .works-wrapper {
  overflow: hidden;
}

.belt .right-btn {
  margin-right: 0px;
  right: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.belt .right-btn:hover {
  opacity: .7;
}
.belt .scroll-btn {
  width: 90px;
  height: 285px;
  background: white;
  position: absolute;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  z-index: 100;
  font-size: 50px;
  padding-top: 110px;
}
.belt .left-btn {
  margin-left: -15px;

}
.belt .left-btn:hover {
  opacity: .7;
}
.belt .works {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing:antialiased;
  margin-top: 20px;
  padding-bottom: 15px;
  transition: transform 0.5s, filter 0.1s ease-in-out;
  white-space: nowrap;
  position: relative;
  text-rendering: geometricPrecision;
}

.belt .tags span {
  font-family: 'Raleway', sans-serif;
  margin-right: 10px;
}


::-webkit-scrollbar {
    display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}
