/* Fonst import */
@import './fonts.css';

/* Global variables */
:root {
  /* colors */
  --petroleum: #00414b;
  --elm: #1d768a;
  --fersken: #f37362;
  --lys-fersken: #f38f81;
  --pomegranate: #f2432c;
  --due: #74a9ff;
  --malibu: #74a9ff;
  --french-pass: #bdd5fd;
  --korn: #edb347;
  --pistache: #a8c7b0;
  --sea-mist: #c9ddcf;
  --grey-nurse: #dee7e0;
  --de-york: #81c793;
  --lys-graa: #f8f8f8;
  --concrete: #f3f3f3;
  --porcelain: #e9eaeb;
  --alto: #d8d8d8;
  --silver-chalice: #a7a7a7;
  --kobber: #b17642;
  --mine-shaft: #333333;
  --white: #ffffff;

  /* fonts */
  --primary-font: 'Montserrat', sans-serif;

  /* breakpoints */
  --sm: 576px;
  --md: 768px;
  --la: 992px;
  --xl: 1200px;

  /* spacing (8 point grid)*/
  --05pt: 4px;
  --1pt: 8px;
  --2pt: 16px;
  --3pt: 24px;
  --4pt: 32px;
  --5pt: 40px;
  --6pt: 48px;
  --7pt: 56px;
  --8pt: 64px;
  --9pt: 72px;
}
