.list-cover-image-wrapper,
.list-cover-image-wrapper img {
  z-index: 1;
}

.list-cover-image-wrapper.slideUp {
  animation: slideUp 0.3s;
}

.list-cover-image-wrapper.sticky {
  position: fixed !important;
  z-index: 10;
  top: 0px;
  cursor: pointer;
  -webkit-animation: slideDown 0.3s forwards;
  animation: slideDown 0.3s forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  max-height: 100px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.list-cover-image-wrapper.sticky.expanded {
  cursor: default;
  max-height: 600px !important;
}

.list-cover-image-wrapper.sticky .list-cover-content-hider {
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
  position: absolute;
  z-index: 9;
}

.list-cover-image-wrapper.sticky img {
  height: 100% !important;
  width: auto !important;
  transition-duration: 0.3s;
}

.list-cover-image-wrapper.sticky.expanded img {
  width: 100% !important;
}

.list-cover-image-wrapper.sticky .pulse-toucharea {
  opacity: 0;
  pointer-events: none;
  transition-duration: 0s;
  transition-delay: 0.085s;
}

.list-cover-image-wrapper.sticky.expanded .pulse-toucharea {
  opacity: 1;
  pointer-events: auto;
  transition-duration: 0.2;
  transition-delay: 0.2s;
}

.list-cover-image-wrapper.scale {
  transform: scale(0.85);
}

.info-color-select .pulse-toucharea {
  position: static;
  transform: none;
  width: auto;
  height: auto;
}

@-webkit-keyframes slideDown {
  100% {
    top: 100px;
    transform: scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: scale(0.85);
  }
  100% {
    top: auto;
    transform: scale(1);
  }
}

@keyframes slideDown {
  100% {
    top: 100px;
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .list-cover-content-hider {
    display: none;
  }
  @-webkit-keyframes slideDown {
    100% {
      top: 80px;
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    100% {
      top: 80px;
      transform: scale(1);
    }
  }
}

@media only screen and (max-width: 575px) {
  @-webkit-keyframes slideDown {
    100% {
      top: 60px;
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    100% {
      top: 60px;
      transform: scale(1);
    }
  }
}
