.footer__outer-container {
  display: flex;
  justify-content: center;
  background-color: var(--lys-graa);
  margin-top: 50px;
}

.footer__outer-container.sticky {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 0px;
  z-index: 9;
}

.footer__container--elements {
  max-width: 1201px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  padding: var(--5pt);
}

.footer__element {
  width: 25%;
  padding: 0 var(--2pt) 0 0;
}
.footer__element:last-child {
  padding: 0;
}

.footer__element p {
  margin: var(--2pt) 0 0;
}

.footer__element .Text a,
.footer__element .Text a:hover {
  text-decoration: underline;
}

.footer__logo--wrap {
  width: 100%;
  margin: 0 0 var(--1pt) 0;
}

.footer__logo {
  width: 189px;
}

@media (max-width: 1200px) {
  .footer__container--elements {
    max-width: auto;
    padding: var(--5pt);
  }
}

@media (max-width: 992px) {
  .footer__element {
    /* Media rule when footer folds to 2 rows with 2 elements in each */
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .footer__container--elements {
    padding: var(--5pt) var(--2pt);
  }

  .footer__element {
    /* Media rule when footer folds to 4 rows with 1 element in each */
    flex-basis: 100%;
  }
}
