.Skeleton__user__wrap {
  display: flex;
  justify-content: flex-start;
}

.Skeleton__pulse__active > div,
.Skeleton__pulse__active > span {
  animation: pulse 2s infinite 0s ease-out;
}

.Skeleton__user__wrap span.Skeleton__user {
  display: inline-block;
  background-color: var(--mellemlys-graa);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.Skeleton__user__wrap .Skeleton__user__name {
  display: inline;
  align-self: center;
}

.Skeleton__user__wrap .Skeleton__user__name .Skeleton__text__line {
  width: 75px;
  margin-left: 10px;
}
