/*
    Base
*/

.Text {
  font-family: var(--primary-font);
  color: var(--petroleum);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.42rem;
}

/*
    Types
*/

.Text__large {
  font-size: 1.14rem;
  font-weight: 600;
}

.Text__body {
}

.Text__small {
  font-size: 0.85rem;
  line-height: 1.07rem;
}

.Text__micro {
  font-size: 0.78rem;
  line-height: 1.14rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--fersken);
}

/*
    Modifiers
*/

.Text__large--decoration-underline {
  text-decoration: underline;
}
.Text__body--decoration-underline {
  text-decoration: underline;
}

.Text__body a {
  text-decoration: underline;
}
.Text__body a:hover {
  color: var(--due) !important;
}

.Text__body--weight-semibold {
  font-weight: 600;
}

.Text__body--color-due {
  color: var(--due);
}

.Text__body--color-fersken {
  color: var(--fersken);
}

.Text__body--color-fersken--weight-semibold {
  font-weight: 600;
  color: var(--fersken);
}

.Text__body--color-fersken--weight-semibold--transform-uppercase {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--fersken);
}

.Text__body a {
  text-decoration: underline;
  color: var(--petrolium);
}

.Text__body a:hover {
  color: var(--due);
}

.Text__small--color-due {
  color: var(--due);
}

.Text__small--decoration-underline {
  text-decoration: underline;
}

.Text__micro--color-petroleum {
  color: var(--petroleum);
}

/*
    MediaQ
*/

@media only screen and (max-width: 600px) {
}
