@media (max-width: 575.98px) {
  .show-review--modal {
    xmargin: 0 30px 0 20px!important;
  }
  .show-review--modal .content {
    margin: 0!important;
  }
  .Review__container {
    margin-right: 0!important;
  }
}

.Review__container {
  height: auto;
  text-align: left;
  margin-bottom: 0;
}

.Review__container a {
  cursor: pointer;
  text-decoration: underline!important;
}

.show-review--modal {
  max-width: 680px;
  width: fit-content;
}

.show-review--modal .bottom {
  margin-bottom: 0!important;
}

.show-review--modal .content {
  margin: 0 40px;
}

.modal-window .content {
  max-height: max-content;
}

.Review__block--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-col {
  min-width: 80px;
  text-align: right;
}

.WorkPreview__container .Review__block--title,
.WorkPreview__container .Review__block--lector,
.WorkPreview__container .Review__block--paragraph,
.WorkPreview__container .Review__block--link {
  font-size: 0.9em;
}