.WorkCard {
  display: inline-block;
  height: 430px;
  width: 215px;
  vertical-align: top;
}
.WorkCard .book-cover {
  height: 70%;
  width: 100%;
  padding: 20px;
  background: #f8f8f8;
  object-fit: contain;
}

.WorkCard .taxonomy-description {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #00414b;
  white-space: normal;
  margin-top: 1em;
}

@media only screen and (max-width: 768px) {
  .WorkCard {
    height: 320px;
    width: 160px;
  }
}

@media only screen and (max-width: 480px) {
  .WorkCard {
    height: 180px;
    width: 130px;
  }
  .WorkCard .book-cover {
    height: 100%;
    padding: 10px;
  }
}
