.WorkPreview__container {
  height: auto;
  background-color: var(--lys-graa);
  padding: 3rem;
}

/* work */

.workPreview__work .paper_reviews_hide_overflow {
  max-height: 300px;
}

.WorkPreview__container .workPreview__work {
  display: flex;
  padding: 0 3rem 0 0;
  border-right: 1px solid var(--lightgrey);
}

.workPreview__work .workPreview__image {
  max-width: 250px;
  margin-right: 3rem;
  text-align: center;
}

.workPreview__work .workPreview__info {
  position: relative;
  width: 100%;
}

.workPreview__work .workPreview__info .Share {
  position: absolute;
  right: 0;
  top: 0;
}

.workPreview__work .workPreview__info .workPreview__details {
  display: flex;
  justify-content: space-between;
}

.workPreview__work .workPreview__info .workPreview__details span {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.workPreview__work .workPreview__info .workPreview__media a {
  text-decoration: none;
}

.workPreview__work .workPreview__info .workPreview__media button {
  height: 33px;
}

.workPreview__work .workPreview__info .workPreview__media button i {
  font-size: 19px;
  font-weight: normal;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.workPreview__work .workPreview__info .workPreview__media button,
.workPreview__work .workPreview__info .workPreview__media a,
.workPreview__work .workPreview__info .workPreview__media a i {
  font-size: 1rem;
  color: var(--petroleum);
}

.WorkPreview__container .workPreview__arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -90px;
}

/* reviews */

.WorkPreview__container .workPreview__reviews {
  padding: 0 0 0 3rem;
}

.workPreview__reviews .workPreview__review {
  display: flex;
  text-decoration: none;
  color: var(--petroleum);
}

.workPreview__review:hover .workPreview__review__details {
  color: var(--dark-cyan);
}

.workPreview__reviews .workPreview__review i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.6rem;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--porcelain);
}

.workPreview__reviews .workPreview__review .workPreview__review__details {
  display: inline-block;
}

.workPreview__reviews .workPreview__review .workPreview__review__details h5 {
  margin-top: 0.2rem;
}

/* Skeleton */

.workPreview__media__skeleton,
.workPreview__media__skeleton i {
  color: transparent !important;
}

.workPreview__reviews .workPreview__review .Skeleton__text {
  display: inline-block;
}

/* Media Q */

@media only screen and (max-width: 1200px) {
  .WorkPreview__container .workPreview__reviews {
    display: none;
  }

  .WorkPreview__container .workPreview__work {
    border-right: none;
  }
}

@media only screen and (max-width: 767px) {
  .workPreview__work .workPreview__image img {
    width: 100%;
    height: auto;
  }
}

.work-preview-book-creator {
  color: var(--petroleum) !important;
}
