.WorkPage__container {
  height: auto;
  padding: 3rem;
  text-align: left;
}

/* work */

.WorkPage__container .WorkPage__work {
  display: flex;
  padding: 0 3rem 0 0;
  border-right: 1px solid var(--lightgrey);
}

.WorkPage__work .WorkPage__image {
  height: 500px;
  padding-right: 3rem;
}

.WorkPage__work .WorkPage__image img {
  width: auto;
  height: 100%;
}

.WorkPage__work .WorkPage__info {
  position: relative;
}

.WorkPage__work .WorkPage__info .ssb-fb {
  position: absolute;
  right: 0;
  top: 0;
}

.WorkPage__work .WorkPage__info .WorkPage__details {
  display: flex;
  justify-content: space-between;
}

.WorkPage__work .WorkPage__info .WorkPage__details span {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.WorkPage__work .WorkPage__info .WorkPage__media a {
  text-decoration: none;
}

.WorkPage__work .WorkPage__info .WorkPage__media button,
.WorkPage__work .WorkPage__info .WorkPage__media button i,
.WorkPage__work .WorkPage__info .WorkPage__media a,
.WorkPage__work .WorkPage__info .WorkPage__media a i {
  font-size: 1rem;
  color: var(--petrolium);
}

/* reviews */

.WorkPage__container .WorkPage__reviews {
  padding: 0 0 0 3rem;
}

.WorkPage__reviews .WorkPage__review {
  display: flex;
  text-decoration: none;
  color: var(--petrolium);
}

.WorkPage__review:hover .WorkPage__review__details {
  color: var(--dark-cyan);
}

.WorkPage__reviews .WorkPage__review i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.6rem;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--mellemlys-graa);
}

.WorkPage__reviews .WorkPage__review .WorkPage__review__details {
  display: inline-block;
}

.WorkPage__reviews .WorkPage__review .WorkPage__review__details h5 {
  margin-top: 0.2rem;
}

.WorkPage__media__skeleton,
.WorkPage__media__skeleton i {
  color: transparent !important;
}

/* Skeleton */

.WorkPage__reviews .WorkPage__review .Skeleton__user__wrap,
.WorkPage__reviews .WorkPage__review .Skeleton__text {
  display: inline-block;
}

.WorkPage__reviews .WorkPage__review .Skeleton__text {
  width: calc(50%);
}

.WorkPage__reviews .WorkPage__review .Skeleton__user__wrap span.Skeleton__user {
  width: 40px;
  height: 40px;
}

/* Media Q */

@media only screen and (max-width: 1200px) {
  .WorkPage__container .WorkPage__reviews {
    display: none;
  }

  .WorkPage__container .WorkPage__work {
    border-right: none;
  }
}
