.WorkCard {
  position: relative;
  display: inline-block;
  height: 430px;
  width: 215px;
  vertical-align: top;
}
.WorkCard .book-cover {
  height: 70%;
  width: 100%;
  padding: 20px;
  background: #f8f8f8;
  object-fit: contain;
}

.WorkCard .book-cover p:first-child {
  padding-top: 50px;
}

.WorkCard .taxonomy-description {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: var(--petroleum);
  white-space: normal;
  margin-top: 1em;
}

.WorkCard .hover-details {
  opacity: 0;
  transition: opacity 0.25s;
  background: linear-gradient(transparent, white 40%);
  cursor: pointer;
  padding: 10px;
}
.WorkCard.highlight .hover-details {
  opacity: 1;
}
.WorkCard:hover .hover-details {
  opacity: 1;
}

.WorkCard .expand-more {
  margin-top: 0px;
  transition: margin 0.2s;
}
.WorkCard .expand-more-wrapper:hover .expand-more {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .WorkCard {
    height: 320px;
    width: 160px;
  }
}

@media only screen and (max-width: 480px) {
  .WorkCard {
    height: 180px;
    width: 130px;
  }
  .WorkCard .book-cover {
    height: 100%;
    padding: 10px;
  }
}
