/*
  Styles related to the work and the work details
*/

.work-preview {
  display: flex;
  padding: 32px;
  background-color: var(--white);
}

.work-preview.light-grey {
  background-color: var(--lys-graa);
}

.work-preview__work {
  max-width: 60%;
  display: flex;
}

.work-preview__information {
  /* margin is used to make share button respect the relative div - padding is ignored */
  margin: 0 32px;

  /* keeps track of share button */
  position: relative;
}

.work-preview__information .Share {
  position: absolute;
  right: 0;
  top: 0;
}

.work-preview__information h1 {
  margin: 0;
}

.work-preview__information h2 {
  margin-top: 8px;
}

.work-preview__information .work-preview__information-description,
.work-preview__information .work-preview__information-taxdescription {
  margin-top: 8px;
}

.work-preview__information-details {
  margin-top: 16px;
  display: flex;
}

.work-preview__information-details .detail-element {
  display: block;
  margin-right: 16px;
}

.work-preview__information-details .detail-element p {
  display: inline;
  margin-right: 4px;
}

/*
  Styles related to loan options (+collection)
*/

.work-preview__actions .detail-no-valid-collection {
  margin-top: 8px;
}

.work-preview__actions .work-preview__action-loan,
.work-preview__actions .AddToListButton,
.work-preview__actions .RemindsOf {
  margin-top: 16px;
}

.work-preview__actions .orderButton,
.work-preview__actions .work-preview__collection-button,
.work-preview__actions .work-preview__skeleton-button {
  margin: 8px 8px 0 0;
}

.work-preview__work .work-preview__work-cover {
  width: 200px;
}

/*
  Styles related to Tabs section
*/

.work-preview__tabs-wrap {
  max-width: 40%;
  position: relative;

  /* height is also calculated dynamicaly (inline) in code */
  height: auto;
}

.work-preview__tabs-wrap.collapsed {
  overflow: hidden;
}

.work-preview__tabs-wrap .expand_wrap {
  display: none;
}

.work-preview.light-grey .work-preview__tabs-wrap.collapsed .expand_wrap {
  display: flex;
  background: linear-gradient(transparent 70%, var(--lys-graa) 90%);
}

.work-preview__tabs-wrap .Tabs__container-horizontal {
  padding-top: 40px;
}

.work-preview__tabs-wrap .Tabs__pagination {
  padding: 0;
}

.work-preview__tabs-wrap .Tabs__pagination-bullet-active:after,
.work-preview__tabs-wrap .Tabs__pagination-bullet:after {
  background: var(--korn);
}

.work-preview__tabs-wrap .work-preview__tag {
  margin: 8px 8px 0 0;
}

.work-preview__tag.match {
  background-color: var(--pistache);
}

.work-preview__tabs-info {
  display: flex;
  align-items: center;
}

.work-preview__tabs-info-color {
  width: 40px;
  height: 16px;
  background-color: var(--pistache);
  margin: 0 8px 0 0;
}

.work-preview__tabs-wrap .work-preview__tag-title {
  padding-top: 16px;
  width: 100%;
  display: block;

  /* tags is floated */
  clear: both;
}

.work-preview__tabs-wrap .work-preview__tag-title:first-child {
  padding-top: 0;
}

.work-preview__tabs-wrap .work-preview__tag::first-letter,
.work-preview__tabs-wrap .work-preview__tag-title::first-letter {
  text-transform: uppercase;
}

/*
  Styles related to the Arrow below preview in "belt-mode" (more-like-this clicked)
*/

.work-preview__arrow-container {
  background-color: white;

  /* Padding should always be the same as
    .work-preview, to maintain the center of
    the more-like-this-arrow */
  padding: 0 32px;
}

.work-preview__arrow {
  display: flex;
  align-items: center;
  height: 50px;

  /* width should be the same as cover-image
    width, to maintain the center of the
    more-like-this-arrow. */
  width: 200px;
}

.work-preview__arrow i {
  margin: auto;
}

/*
  Media Queries
*/

@media only screen and (max-width: 1200px) {
  .work-preview .work-preview__tabs-wrap {
    display: none;
  }

  .work-preview .work-preview__work {
    max-width: 100%;
  }

  .work-preview__information {
    margin: 0;
    padding: 0 0 0 32px;
  }
}
