/*
  Styles related to the work and the work details
*/

.work-preview {
  display: flex;
  height: auto;
  padding: var(--5pt);
  padding-top: 0;
  background-color: var(--white);
}

.work-preview__series-link {
  text-decoration: underline !important;
  color: var(--petroleum) !important;
}

a.link.work-preview__series-link:hover,
a.link.work-preview__series-link:focus {
  text-decoration: none !important;
  color: var(--petroleum) !important;
}

a.link button:focus{
  outline:none;
  box-shadow:0 0 0 0.2rem var(--petroleum);
}


.work-preview.preview.light-grey,
.work-preview__top.preview.light-grey {
  background-color: var(--lys-graa);
}

.work-preview__top {
  height: var(--5pt);
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.close-work-preview--X {
  padding: var(--2pt);
  cursor: pointer;
}

.work-preview__work {
  width: 60%;
  display: flex;

  /* Allow items to have heights according to content */
  align-items: flex-start;
}

.work-preview__information {
  flex-grow: 1;
  /* margin is used to make share button respect the relative div - padding is ignored */
  margin: 0 var(--5pt);

  /* keeps track of share button */
  position: relative;
}

.work-preview__title-bar {
  display: flex;
  justify-content: space-between;
}

.work-preview .Share {
  align-self: flex-start;
  margin-left: 0.5em;
}

.work-preview__information .work-preview__title {
  margin: 0;
}

.work-preview__information .work-preview__creator {
  margin-top: var(--1pt);
}

.work-preview__information .work-preview__information-description,
.work-preview__information .work-preview__information-taxdescription {
  margin-top: var(--1pt);
}

.work-preview__information-details {
  margin-top: var(--2pt);
  display: flex;
}

.work-preview__information-details .detail-element {
  display: block;
  margin-right: var(--2pt);
}

.work-preview__information-details .detail-element p {
  display: inline;
  margin-right: var(--05pt);
}

/*
  Styles related to action buttons (+collection)
*/

.work-preview__actions .detail-no-valid-collection {
  margin-top: var(--1pt);
}

.work-preview__actions .work-preview__action-loan,
.work-preview__actions .work-preview__add-to-list--wrap,
.work-preview__actions .RemindsOf {
  margin-top: var(--2pt);
}

.work-preview__actions .orderButton,
.work-preview__actions .work-preview__collection-button,
.work-preview__actions .work-preview__skeleton-button {
  margin: var(--1pt) var(--1pt) 0 0;
}

.work-preview__work .work-preview__cover {
  width: 200px;
}

/*
    Styles related to the prioritized tags
 */

.work-preview__prio-tags {
  padding: var(--2pt) 0 0 0;
}

.work-preview__prio-tags .prio-tags-title {
}

.work-preview__prio-tags .prio-tag {
  margin: var(--1pt) var(--1pt) 0 0;
}

.work-preview__prio-tags .work-preview__show-full-exp {
  display: block;
  margin: var(--1pt) 0 0 0;
}

/*
  Styles related to Tabs section
*/

.work-preview__tabs-wrap {
  max-width: 40%;
  position: relative;

  /* height is also calculated dynamicaly (inline) in code */
  height: auto;
}

.work-preview__tabs-wrap.collapsed {
  overflow: hidden;
}

.work-preview__tabs-wrap .expand_wrap {
  display: none;
}

.work-preview .work-preview__tabs-wrap.collapsed .expand_wrap {
  display: flex;
}

.work-preview.light-grey .work-preview__tabs-wrap.collapsed .expand_wrap {
  background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 30%, rgba(248, 248, 248, 1) 75%, rgba(248, 248, 248, 1));
}

.work-preview .work-preview__tabs-wrap.collapsed .expand_wrap {
  background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 30%, rgba(248, 248, 248, 1) 75%, rgba(248, 248, 248, 1));
}

.work-preview__tabs-wrap .Tabs__container-horizontal {
  padding-top: var(--5pt);
}

.work-preview__tabs-wrap .Tabs__pagination {
  padding: 0;
}

.work-preview__tabs-wrap .Tabs__pagination-bullet-active:after,
.work-preview__tabs-wrap .Tabs__pagination-bullet:after {
  background: var(--korn);
}

/*
  Styles related to the Arrow below preview in "belt-mode" (more-like-this clicked)
*/

.work-preview__arrow-container {
  background-color: white;

  /* Padding should always be the same as
    .work-preview, to maintain the center of
    the more-like-this-arrow */
  padding: 0 var(--5pt);
}

.work-preview__arrow {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 50px;

  /* width should be the same as cover-image
    width, to maintain the center of the
    more-like-this-arrow. */
  width: 200px;
}

.work-preview__arrow i {
  margin: auto;
}

/*
  Media Queries
*/

@media only screen and (max-width: 1200px) {
  .work-preview.preview .work-preview__tabs-wrap {
    display: none;
  }

  .work-preview.preview .work-preview__work {
    max-width: 100%;
  }

  .work-preview.preview .work-preview__information {
    margin: 0;
    padding: 0 0 0 var(--5pt);
  }
}

@media only screen and (max-width: 768px) {
  .work-page .work-preview__work {
    width: 100%;
  }
}
