.bookcase {
}

.bookcase .bookcase-others {
  height: 100px;
  padding-top: 15px;
}

.bookcase .bookcase-others span {
  float: right;
  font-family: var(--secondary-font);
  color: var(--darkgrey);
  font-size: 16px;
  text-align: left;
}

.bookcase .slick-dots-bookcase {
  width: auto;
  bottom: -100px;
  right: 150px;
}

.bookcase .slick-dots-bookcase li,
.bookcase .slick-dots-bookcase li a {
  width: auto;
  height: auto;
  float: left;
  margin: 0 5px 0 0 0;
}

.bookcase .slick-dots-bookcase .face-dots img {
  width: 60px;
  border-radius: 50%;
  opacity: 0.4;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
}

.section-active .row .celeb {
  background: rgba(255, 255, 255, 1);
}

.bookcase .slick-active .face-dots img {
  opacity: 1;
}

.section-active .row .celeb .carousel-close {
  top: 0px;
}

.section-active .row .celeb .celeb-description {
  opacity: 0;
  pointer-events: none;
}

section {
  position: relative;
}

section .bookswrap {
  position: relative;
  height: 100%;
}

section img {
  width: 100%;
  height: auto;
}

section div.row {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 15px;
  top: 0;
}

section .row .celeb {
  height: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.85);
  transition: all 0.3s ease-in;
  overflow: hidden;
}

section .row .celeb .carousel-close {
  position: absolute;
  margin: 1em;
  cursor: pointer;
  width: 10px;
  right: 0;
  cursor: pointer;
  z-index: 2;
  top: -50px;
  transition: all 0.3s ease-in;
}

section .row .celeb .celeb-top {
  height: 100%;
  transition: all 0.3s ease-in;
}

section .row .celeb .celeb-img {
  transition: all 0.3s ease-in;
  padding-top: 10%;
}

section .row .celeb .celeb-img img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

section .row .celeb .celeb-title {
  float: right;
  transition: all 0.3s ease-in;
}

section .row .celeb .celeb-title h1 {
  font-family: var(--secondary-font);
  color: var(--darkgrey);
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 0 0;
  margin: 0;
}

section .row .celeb .celeb-description {
  transition: all 0.2s ease-in;
}

section .row .celeb .celeb-description p {
  max-width: 300px;
  margin: 5px auto 0 auto;
  font-family: var(--secondary-font);
  color: var(--darkgrey);
  font-size: 14px;
  display: block;
}

section .row .celeb .celeb-description .celeb-books-btn {
  margin-top: 15px;
}

section .row .celeb .celeb-bottom {
  padding: 0;
  height: calc(100% - 140px);
}

/* If no description image */

section .row .celeb .celeb-img-placeholder {
  height: 150px;
  transition: all 0.3s ease-in;
  margin-top: 10%;
}

section .row .celeb.no-description-img .celeb-bottom {
  height: calc(100% - 100px);
}

/* !NOTIZE: All screensizes above 992px */

@media only screen and (min-width: 992px) {
  .section-active .row .celeb .celeb-top {
    padding: 30px 0 30px 15px;
    border-bottom: 1px solid lightgrey;
    height: 140px;
  }

  .section-active .row .celeb .celeb-img {
    width: 33.3%;
    padding: 0;
  }

  .section-active .row .celeb .celeb-img img {
    width: 75px;
    margin: auto;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .section-active .row .celeb .celeb-title {
    width: 66.6%;
    text-align: left;
    transition: all 0s ease-in;
  }

  /* If no description image */

  .section-active .row .celeb .celeb-img-placeholder {
    height: 0;
    margin-top: 0;
  }

  .section-active .row .celeb.no-description-img .celeb-top {
    padding-left: 0;
    height: 100px;
  }
  .section-active .row .celeb.no-description-img .celeb-top .celeb-title {
    width: 100%;
    text-align: center;
  }
  .section-active .row .celeb.no-description-img .celeb-top .celeb-title h1 {
    padding-top: 10px;
    text-align: center;
  }
}

/* !NOTIZE: All screensizes below 1200px */

@media only screen and (max-width: 1200px) {
  .section-active .row .celeb .celeb-img img {
    width: 50px;
  }

  .section-active .row .celeb .celeb-title h1 {
    font-size: 16px;
    padding: 0px 0 0 0;
    text-align: left;
  }

  .section-active .row .celeb .celeb-top {
    height: 110px;
  }

  .section-active .row .celeb .celeb-bottom {
    height: calc(100% - 110px);
  }

  /* If no description image */

  section .row .celeb .celeb-img-placeholder {
    height: 15%;
  }

  .section-active .row .celeb .celeb-img-placeholder {
    height: 0;
  }
  .section-active .row .celeb.no-description-img .celeb-top {
    height: 90px;
  }
  .section-active .row .celeb.no-description-img .celeb-bottom {
    height: calc(100% - 90px);
  }
}

/* !NOTIZE: All screensizes below 992px */

@media only screen and (max-width: 992px) {
  section .row .celeb .celeb-top,
  section .row .celeb .celeb-title,
  section .row .celeb .celeb-description {
    padding: 0;
  }

  section .row .celeb .celeb-img img {
    width: 75px;
  }
  section .row .celeb .celeb-title h1 {
    font-size: 16px;
  }
  section .row .celeb .celeb-description p {
    margin: 0 auto 0 auto;
  }
  .section-active .row .celeb .celeb-top {
    margin-top: -110px;
  }
  .section-active .row .celeb .celeb-bottom {
    height: 100%;
  }
  .section-active .row .celeb .celeb-title h1 {
    text-align: center;
  }
  .bookcase .bookcase-others {
    height: 60px;
  }
  .bookcase .bookcase-others span {
    display: none;
  }
  .bookcase .slick-dots-bookcase {
    right: 0px;
    bottom: -70px;
  }

  /* If no description image */

  section .row .celeb .celeb-img-placeholder {
    height: 5%;
  }

  .section .row .celeb .celeb-img-placeholder {
    display: none;
  }

  .section-active .row .celeb.no-description-img .celeb-top {
    margin-top: -60px;
  }

  .section-active .row .celeb.no-description-img .celeb-bottom {
    height: calc(100% - 30px);
  }
}
