.book-cover {
  padding: 2px;
  /* box-shadow: 0 1px 6px rgba(0,0,0,.275); */
}
.book-cover {
  display: inline-block;
  width: auto;
  height: 100%;
}
.book-cover img {
  max-height: 100% !important;
  object-fit: contain;
  width: 100% ;
}
