/********* SLICK - dots **********/

.bookcase .slick-dots-bookcase li,
.bookcase .slick-dots-bookcase .face-dots img {
  width: 60px;
  border-radius: 50%;
  opacity: 0.4;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
}

/****************SECTION**************/
.bookcase-container {
  margin-left: -15px;
  margin-right: -15px;
}

section {
  display: inline-flex;
  position: relative;
  background: var(--lys-graa);
  width: 100%;
}

section .caroContainer {
  display: inline-flex;
  width: 100%;
  max-height: 600px;
  top: 0px;
}

section .caroContainer .bookswrap {
  height: 600px;
  width: 50%;
  z-index: 4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

section .caroContainer .celeb {
  text-align: left;
  width: 50%;
  top: 0px;
  max-height: 600px;
  background: var(--lys-graa);
  transition: all 0.3s ease-in;
  overflow: hidden;
  float: right;
  z-index: 3;
}

section .celeb .carousel-close {
  position: absolute;
  margin: 1em;
  cursor: pointer;
  width: 10px;
  right: 10px;
  z-index: 1;
  top: -60px;
  transition: all 0.3s ease-in;
  font-size: 20px;
}

section .celeb .celeb-top {
  transition: all 0.3s ease-in;
  height: 100%;
  margin-top: 2%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 2;
}

.section-active .celeb .celeb-top {
  height: 0px;
  opacity: 0;
  z-index: 1;
}

section .caroContainer .celeb .scrolltext {
  max-height: 600px;
  overflow: auto;
}

section .caroContainer .celeb .innerscrollbox {
  margin-top: 15%;
  width: 92%;
}

section .caroContainer .celeb .profile-name {
  font-style: Montserrat;
}

section .caroContainer .celeb .profile-quote {
  font-weight: 600;
  font-style: Montserrat;
}

section .caroContainer .celeb .celeb-link-btn {
  color: var(--petroleum);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

section .caroContainer .celeb .linktext {
  color: var(--petroleum);
  border-color: var(--petroleum);
  margin-top: 10px;
  border-style: solid;
  border-width: 0 0 2px 0;
}

/*!  * * * * * * * * * * BOTTOM * * * * * * * * *!*/
section .celeb .celeb-bottom {
  height: 98%;
  width: 100%;
  background-color: var(--lys-graa);
  margin-bottom: 2%;
  z-index: 4;
}

.section-active .celeb .carousel-close {
  top: 5px;
  right: 10px;
}

/*!**************** IPAD PRO ****************!*/
@media only screen and (max-width: 1200px) {
  section .caroContainer {
    height: 440px;
  }

  section .caroContainer .bookswrap {
    height: 440px;
  }

  img.imgcontainer {
    height: 440px;
  }

  section .caroContainer .celeb .scrolltext {
    max-height: calc(100% - 80px);
    overflow: auto;
    width: 100%;
  }

  section .caroContainer .celeb .innerscrollbox {
    margin-top: 60px;
    width: 100%;
  }

  .section-active .row .celeb .carousel-close {
    top: 5px;
    right: 10px;
  }
}

/*!**************** IPAD  ****************!*/
@media only screen and (max-width: 1024px) {
  section .caroContainer {
    height: 380px;
  }

  section .caroContainer .bookswrap {
    height: 380px;
    width: 50%;
    z-index: 2;
  }

  section .caroContainer .celeb {
    width: 50%;
  }

  section img.imgcontainer {
    height: 380px;
  }

  section .caroContainer .celeb .scrolltext {
    max-height: calc(100% - 80px);
    overflow: auto;
    width: 100%;
  }

  section .caroContainer .celeb .innerscrollbox {
    margin-top: 40px;
    width: 100%;
  }

  .section-active .row .celeb .carousel-close {
    top: 5px;
    right: 10px;
  }

  section .caroContainer .celeb .celeb-link-btn {
    font-size: 12px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 768px) {
  section .caroContainer {
    height: 340px;
  }

  section .caroContainer .bookswrap {
    height: 340px;
  }

  section img.imgcontainer {
    height: 340px;
  }
}

@media only screen and (max-width: 500px) {
  section .caroContainer {
    display: block;
    max-height: 100%;
    height: 100%;
  }

  section .caroContainer .bookswrap {
    height: 320px;
    width: 100%;
    z-index: 1;
  }

  section .caroContainer .bookswrap .pulse-toucharea {
    display: none;
  }

  section .caroContainer .celeb {
    max-height: none;
    width: 100%;
    z-index: 3;
  }

  section img.imgcontainer {
    height: 320px;
    width: 100%;
    z-index: 2;
  }

  section .celeb .celeb-top {
    height: 92.5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3.75%;
    margin-bottom: 3.75%;
  }

  section .caroContainer .celeb .innerscrollbox {
    margin-top: 0%;
  }

  section .caroContainer .celeb .celeb-descript {
    display: none;
  }

  section .caroContainer .celeb .celeb-link-btn {
    display: none;
  }

  section .celeb .celeb-bottom {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  section .caroContainer .bookswrap {
    height: 240px;
  }

  section img.imgcontainer {
    height: 240px;
  }
}
