/* Slick slider stles overwrite */

.slick-slider,
.slick-list,
.slick-track {
  height: 100% !important;
}

.celeb .slick-prev,
.celeb .slick-next {
  top: inherit !important;
  bottom: 5px;
  z-index: 3;
}

.celeb .slick-prev {
  left: 15px !important;
}

.celeb .slick-next {
  right: 15px !important;
}

.celeb .slick-prev:before,
.celeb .slick-next:before {
  content: '' !important;
}

.celeb .slick-dots-carousel {
  bottom: 15px !important;
  right: 50%;
  transform: translate(50%, 0%);
}

/*********************************/
.celeb .slide-wrapper {
  height: calc(100% - 50px);
  float: left;
}

.carousel-display {
  z-index: 3;
  border: solid;
}

/*.-display .carousel {
  opacity: 1 !important;
  transition: all 0.3s ease-in !important;

}*/

.carousel-container {
  height: 90%;
  width: 90%;
  font-family: Montserrat, sans-serif;
  margin: 5%;
}

.carousel-header {
  color: var(--petroleum);
  font-size: 16px;
  font-weight: 600;
  max-height: 50%;
  margin-bottom: 3%;
  overflow: hidden;
}

.carousel-container .carousel {
  width: 90%;
  height: 40%;
  opacity: 1;
  transition: all 0.2s ease-out;
  border-radius: 3px;
  margin: 5%;
  display: inline-flex;
}

.carousel .carousel-img {
  height: 100%;
  width: 30%;
  margin: 0px;
}

.carousel .carousel-info-area {
  margin-left: 5%;
  width: 65%;
}

.carousel .carousel-title {
  color: var(--petroleum);
  font-size: 24px;
  font-style: Montserrat;
  font-weight: 600;
}

.carousel .carousel-creator {
  color: var(--petroleum);
  font-size: 16px;
  font-style: Montserrat;
  font-weight: 300;
  margin-top: -3px;
}

.carousel .carousel-description p {
  color: var(--darkgrey);
  font-size: 14px;
}

.carousel .carousel-bottom {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.carousel .glyphicon-chevron-left,
.carousel .glyphicon-chevron-right {
  cursor: pointer;
  padding: 10px;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 1200px) {
  .celeb .slide-wrapper {
    padding: 0 !important;
  }
  .carousel {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .carousel .carousel-info-area {
    padding-right: 0;
    padding-left: 0;
  }
  .carousel .carousel-img {
    padding: 0 5px 5px 5px;
  }
  .celeb .slick-prev {
    left: 0px !important;
  }
  .celeb .slick-next {
    right: 0px !important;
  }
}

@media only screen and (max-width: 500px) {
  .carousel .carousel-info-area {
  }
  .carousel .carousel-img {
  }
  .celeb .slick-prev {
  }
  .celeb .slick-next {
  }
}
