.checkmark-btn {
  background: var(--blue);
  border: 0;
  color: white;
  outline: none !important;
}
.checkmark-btn:hover {
  background: var(--blue);
  color: white;
}
.checkmark-btn.checked {
  background: var(--green);
}
.checkmark-btn.checked:hover {
  background: var(--green);
}
