.comments {
  font-family: var(--secondary-font);
}

.comment {
  width: 100%;
  background-color: #ffffff;
}

.comment-textarea {
  border-radius: 0;
  outline: none;
  resize: none;
  min-height: 40px !important;
  padding-top: 0.575rem;
  width: 100%;
  flex-grow: 2;
}

.comment-nameComment-wrap {
  width: 95%;
}

@media only screen and (max-width: 768px) {
  .comment-nameComment-wrap {
    width: 90%;
  }
}

.comment-wrapper-context-menu {
  position: absolute;
  right: 0;
  margin-right: 0;
  margin-top: 0.5rem;
}

.comment-author {
  font-weight: bold;
  font-size: 1.4rem;
}
.comment-time {
  color: var(--greybrown);
  font-size: 1.4rem;
}
.comment-edit-button {
  position: absolute;
  right: 0;
}

.comment-submit-icon {
  transition-duration: 0.3s;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  cursor: pointer;
}

.comment-submit-icon.material-icons-send:not(.md-disabled):hover {
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
}

.comment-cancel {
  margin-right: 10px;
}

.comment-saving {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.comment-saving .spinner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.comment-container-info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin: 0px;
}
.comment-container-divider {
  border-top: 1px solid var(--pistache);
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
