.concise-work-img img {
  height: 225px;
  width: 100%;
}

.concise-work-title {
  color: var(--petroleum);
  font-size: 24px;
  font-weight: 600;
}

.concise-work-author {
  color: var(--petroleum);
  font-size: 16px;
  font-weight: 400;
  margin-top: -5px;
}

.concise-work-details {
  font-size: 11px;
  color: var(--fersken);
  font-style: Montserrat;
  font-weight: 400;
  margin-top: 5px;

  text-transform: uppercase;
}

.concise-work-details span {
  padding-right: 6px;
}

.work-subtitle {
  font-size: 14px;
  color: var(--petroleum);
  font-style: Montserrat;
  font-weight: 600;
}

.WorkPage__media button i {
  margin-right: 0.5rem;
}

.WorkPage__media button,
.WorkPage__media button i,
.WorkPage__media a,
.WorkPage__media a i {
  font-size: 0.9rem;
  color: var(--petrolium);
  font-weight: 600;
}

.WorkPage__media button i .material-icons {
  text-transform: uppercase;
}

/*1024-1200px width*/
@media only screen and (max-width: 1200px) {
  .concise-work-container {
    margin-left: 5%;
  }

  .concise-work-info {
    margin-top: 6px;
  }

  .concise-work-img {
    height: 150px;
  }

  .col-sm-4,
  .col-sm-8 {
    padding-left: 0px;
  }

  .concise-work-title {
    font-size: 18px;
  }

  .concise-work-author {
    font-size: 14px;
    margin-top: -6px;
  }

  .concise-work-details {
    font-size: 9px;
  }

  .work-subtitle {
    display: none;
  }

  .concise-work-container div.WorkPage__media {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-header {
    font-size: 14px;
  }

  .col-sm-4,
  .col-sm-8 {
    padding-left: 15px;
  }

  .concise-work-img {
  }

  .concise-work-title {
    font-size: 18px;
  }

  .concise-work-author {
    font-size: 14px;
    margin-top: -6px;
  }

  .concise-work-details {
    font-size: 9px;
  }
}

@media only screen and (max-width: 768px) {
  .concise-work-img {
    display: none;
  }

  .concise-work-title {
  }

  .concise-work-author {
    font-size: 12px;
    margin-top: -3px;
  }

  .concise-work-details {
    font-size: 9px;
  }

  .WorkPage__media button,
  .WorkPage__media button i,
  .WorkPage__media a,
  .WorkPage__media a i {
    font-size: 0.7rem;
    font-weight: 400;
  }

  .concise-work-container .AddToListButton__Container {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
}
