.list-drag {
  position: relative;
}

.drag-item:hover .list-item__close {
  opacity: 0.5;
}
.drag-item {
  width: 100%;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}
.drag-item.selected {
  padding-right: 2.5rem;
  background-color: #89757129;
}
.drag-list {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.drag-list:not(.is-dragging) .drag-item:hover .drag-item__dragger {
  opacity: 1;
}

.drag-item__dragger {
  cursor: pointer;
  width: 20px;
  height: 15px;
  margin-top: 2rem;
  margin-right: 1rem;
  opacity: 0;
  transition: opacity 200ms;
}
