.modal-enter {
  opacity: 0;
}
.modal-enter .modal-window {
  margin-top: -50px;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: all 0.2s;
}
.modal-enter.modal-enter-active .modal-window {
  transition: all 0.2s;
  margin-top: 0px;
}

.modal-leave {
  opacity: 1;
}

.modal-leave.modal-leave-active {
  opacity: 0;
  transition: all 0.2s;
}

.modal-leave.modal-leave-active .modal-window {
  margin-top: -50px;
  transition: all 0.2s;
}

.modal-narrow {
  width: 310px !important;
}

.modal-container,
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  z-index: 99998;
}
.login-modal {
  min-height: 500px;
}

.login-modal p,
.login-modal a {
  color: var(--petroleum);
  font-weight: 700;
  font-size: 1em;
}

.login-modal a {
  text-decoration: underline;
}
.login-modal h3 {
  font-size: 1.1em;
  color: var(--petroleum);
  font-family: var(--primary-font);
  font-weight: 600;
  text-transform: uppercase;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-window {
  position: relative;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.175);
  z-index: 99999;
}
.modal-window--close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: var(--petroleum);
}
.modal-window--header h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: inherit;
}
.modal-window--header {
  border-bottom: 1px var(--lightgrey) solid;
  padding-bottom: 16px;
  min-height: 35px;
}
.modal-window--content {
  margin-top: 20px;
  min-height: 100px;
  padding: 0px 13px;
  padding-bottom: 40px;
}
.modal-window--buttons {
  margin-top: 20px;
}
.modal-window--buttons .btn {
  min-width: 80px;
}

.modal-window--buttons .btn.disabled {
  pointer-events: none;
}
.modal-window-login-btn {
  background-color: var(--korn);
  margin-bottom: 35px;
}
.login-modal .modal-window--header {
  border-bottom: 1px var(--grey-nurse) solid;
}
.login-modal .btn {
  font-family: var(--primary-font);
  font-weight: 600;
}
.loginmodal-create-profile-text p,
.loginmodal-create-profile-text a {
  font-size: 0.9em;
  font-weight: 100;
}

@media only screen and (max-width: 600px) {
  .login-modal {
    width: 100% !important;
    height: 100%;
  }
  .login-modal-container {
    padding: 0;
  }
  .login-modal-small-screen-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
  }
  .login-modal-small-screen-header p {
    margin: 0;
    font-weight: 700;
  }

  .login-modal-small-screen-header img {
    width: 15px;
  }
  .modal-window--content {
    padding: 0px 15px;
  }
  .login-modal h3 {
    font-size: 1.2em;
  }
  .loginmodal-create-profile-text p,
  .loginmodal-create-profile-text a {
    font-size: 1em;
  }
}
