.card {
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 0 rgba(0,0,0, 0.5);
  transition: all 200ms;
}

.card-container {
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 0rem;
  bottom: 0rem;
}
.card:hover .card-background{
  position: absolute;
  left: -0.5rem;
  right: -0.5rem;
  top: -0.5rem;
  bottom: -0.5rem;
}
.card .profile-tooltip{
  left: -0.5rem;
  right: -0.5rem;
  top: calc(100% + 0.5rem);
}

.profile-belt .authors >*:after {
  content: ",";
}
.profile-belt .authors >*:last-child:after {
  content: "";
}

.card-info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  color: white;
  background-color: var(--blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 200ms;
}
.card-info:after {
  content: "i";
  position: absolute;
  font-size: 35px;
  right: 1.5rem;
  top: 0.5rem;
}

.card:hover .card-info {
  opacity: 0.85;
}

.card:hover .card-background,
.card:hover .profile-tooltip {
  box-shadow: 0px 2px 5px rgba(0,0,0, 0.3);
}

.card-like {
  height: 90px;
  object-fit: cover;
}

.profile-belt .card-label {
  position: absolute;
  bottom: 45px;
  transform: translateY(100%);
  width: 100%;
  text-align: center;
  z-index: 1;
  color: white;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px black;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.card-checkmark {
  width: 100%;
  position: absolute;
  bottom: 4rem;
  z-index: 4;
  display: inline-block;
  margin: auto;
  text-align: center;
}
.card-checkmark svg {
  transition: fill 200ms ease-in;
  fill:transparent;
  width: 40px;
}
.card.checkmark-select.is-selected .card-checkmark svg {
  fill:  #fc492d;
  width: 40px;
}
.card.border-select.is-selected .card-container img{
  border: 5px solid var(--blue);
}


.profile-belt .card-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.profile-belt .card-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}