.progress-circle {
  position: relative;
}

.progress-circle svg {
  transform: rotate(-90deg);
  width: 55px;
}

.progress-circle .active {
  stroke: var(--green);
  transition: all 500ms;
}

.progress-circle .passive {
  stroke: #e6e6e6;
}

.progress-circle .value {
  stroke: #e6e6e6;
}

.progress-text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(calc(50% - 12px));
}
.progress-text .value {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  line-height: 0.5;
}

.progress-text .percent {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1;
}
