.pulse-toucharea {
  width: 40px;
  height: 40px;
  z-index: 8;
  cursor: pointer;
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
}

.pulse {
  width: 20px;
  height: 20px;
  background-color: var(--korn);
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  animation: dots 3s infinite;
  margin: 10px auto;
}

.pulse-expand:hover .pulse {
  transform: scale(1.25);
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.pulse-expand:active .pulse,
.pulse-active .pulse {
  transform: scale(1.25);
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.pulse-expand-disable .pulse {
  transform: scale(1) !important;
  animation: none !important;
}

.pulse-toucharea .pulse-label {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all 0.2s ease-in-out;
  display: block;
  text-align: center;
  pointer-events: none;
  min-width: 110px;
  padding: 0.5rem;
  opacity: 0;
}

.pulse-toucharea:hover .pulse-label {
  opacity: 1;
}

/* Pulse animation */

@-webkit-keyframes dots {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dots {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
