.pulse-toucharea {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.pulse-toucharea .pulse {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  animation: pulse 3s infinite;
}

.pulse-toucharea:hover .pulse {
  transform: scale(3.5);
  background-color: rgba(255, 255, 255, 1);
  animation: none;
}

.pulse-active .pulse {
  transform: scale(3);
  background-color: rgba(255, 255, 255, 1);
  animation: none;
}

.pulse-active:hover .pulse {
  transform: scale(3.5);
  background-color: rgba(255, 255, 255, 1);
  animation: none;
}

/* Pulse animation */

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }
  30% {
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }
  30% {
    -moz-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
