.simplelist,
.list-wrapper .b-dark {
  position: relative;
}

.list-wrapper .b-dark .list-media-icons {
  position: absolute;
  right: 4em;
  top: 4em;
}

.list-wrapper .b-dark .ssb-fb {
}

.list-wrapper .b-dark .ssb-follow {
  margin-right: 1em;
}

.simplelist-item {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;

  font-family: var(--secondary-font);
}
.simplelist .profile-description {
  position: relative;
}

.simplelist .addbook {
  margin-bottom: 400px;
}

.suggestion-list {
  height: auto;
}

.suggestion-list input {
  height: 50px;
}

.suggestion-list::before {
  margin-top: 5px;
}

.suggestion-list #react-autowhatever-1 {
  top: 100%;
}

.simplelist .remove-btn {
  position: absolute;
  right: 0px;
  /*top: 10px;*/
  cursor: pointer;
  width: 10px;
}

.simplelist .ssb-fb {
  position: absolute;
  right: 25px;
  top: 0px;
}
