.topbar {
  position: fixed;
  z-index: 3000;
  background: white;
  padding-top: 5px;
  padding-bottom: 5px;
  /*border-bottom: gray solid 1px;*/
  box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.175);
}
.topbar .login {
  margin-top: 3px;
  display: flex;
  justify-content: flex-end;
}
.topbar .login > span,
.topbar .topbar-logout {
  cursor: pointer;
}
.topbar .login > span {
  margin-right: 25px;
  line-height: 35px;
}
.topbar .topbar-logout {
  line-height: 35px;
}
.topbar h1 {
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  margin-top: -4px;
}
.topbar .header {
  cursor: pointer;
}
.topbar .header img {
  height: 40px;
}
.topbar .header div {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
}

.topbar .inline {
  display: flex;
}
