.Button {
  padding: 9px 20px;
  border-radius: 4px;
  color: var(--petrolium);
  background-color: var(--concrete);
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 200ms;
  border: none;
}

/* Variants */
.Button__primary {
  text-transform: uppercase;
  background-color: var(--fersken);
}

.Button__secondary {
  text-transform: uppercase;
  background-color: var(--french-pass);
}

.Button__tertiary {
  text-transform: none;
  background-color: var(--porcelain);
  cursor: pointer;
}

.Button__quaternary {
  background-color: var(--korn);
  text-transform: uppercase;
}

.Button__quinary {
  background-color: var(--porcelain);
}

.Button__term {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: none;
  background-color: var(--concrete);
}

@media (hover: hover) {
  .Button__term:hover {
    background-color: var(--pistache);
  }
  .Button__quinary:hover {
    background-color: var(--french-pass);
  }
  .Button__tertiary:hover {
    background-color: var(--pistache);
  }
  .Button__secondary:hover {
    background-color: var(--due);
  }
  .Button__primary:hover {
    background-color: var(--lys-fersken);
  }
}
.Button__term i {
  color: var(--fersken) !important;
}
.Button__term::first-letter {
  text-transform: uppercase;
}

.Button__link {
  background-color: transparent;
  font-size: 14px;
  color: var(--petrolium);
  font-weight: 400;
  text-decoration: underline;
}
.Button__link:hover {
  text-decoration: underline;
}

.Button__link2 {
  padding: 0 !important;
  background-color: transparent;
  font-size: 14px !important;
  color: var(--petrolium);
  font-weight: 600;
  border: 0 !important;
}
.Button__link2:hover {
  text-decoration: underline;
}

/* Sizes */
.Button__large {
  padding: 10px 15px;
  font-size: 1.3em;
}

.Button__medium {
  padding: 7px 10px;
  font-size: 1rem;
}

.Button__small {
  text-transform: none;
  padding: 5px 10px;
  font-size: 0.75rem;
}

/* Variants */

.Button__primary--bgcolor-fersken--color-white,
.Button__primary--bgcolor-fersken--color-white:hover {
  background-color: var(--fersken);
  color: white;
}

.Button__primary--bgcolor-due--color-white,
.Button__primary--bgcolor-due--color-white:hover {
  background-color: var(--due);
  color: white;
}

.Button__primary--bgcolor-korn--color-white,
.Button__primary--bgcolor-korn--color-white:hover {
  background-color: var(--korn);
  color: white;
}

.Button__primary--bgcolor-petrolium--color-white,
.Button__primary--bgcolor-petrolium--color-white:hover {
  background-color: var(--petrolium);
  color: white;
}

.Button__primary--bgcolor-fersken--color-petrolium,
.Button__primary--bgcolor-fersken--color-petrolium:hover {
  background-color: var(--fersken);
  color: var(--petrolium);
}

.Button__primary--bgcolor-due--color-petrolium,
.Button__primary--bgcolor-due--color-petrolium:hover {
  background-color: var(--due);
  color: var(--petrolium);
}

.Button__primary--bgcolor-korn--color-petrolium,
.Button__primary--bgcolor-korn--color-petrolium:hover {
  background-color: var(--korn);
  color: var(--petrolium);
}

/* Feedback button */
.Button__feedback {
  background-color: var(--pistache);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.Button__feedback:hover {
  background-color: var(--sea-mist);
}
