.button {
  padding: 9px 20px;
  border-radius: 4px;
  color: var(--petroleum);
  background-color: var(--concrete);
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 200ms;
  border: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Icons */
.button__icon--left,
.button__icon--right {
}

i.icon--left-sm {
  margin-right: var(--1pt);
  color: var(--new-de-york) !important;
  font-size: 8px !important;
}

.button.button__icon--left i.icon--left {
  margin-right: var(--1pt);
}

.button.button__icon--right i.icon--right {
  margin-left: var(--1pt);
}

.button:hover {
  cursor: pointer;
}

/* Variants */
.button__primary {
  text-transform: uppercase;
  background-color: var(--fersken);
}

.button__secondary {
  text-transform: uppercase;
  background-color: var(--french-pass);
}

.button__tertiary {
  text-transform: none;
  background-color: var(--porcelain);
  cursor: pointer;
}

.button__quaternary {
  background-color: var(--korn);
  text-transform: uppercase;
}

.button__quinary {
  background-color: var(--porcelain);
}

.button__term {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: none;
  background-color: var(--concrete);
}

.button__term i {
  vertical-align: middle;
}

@media (hover: hover) {
  .button__term:hover {
    background-color: var(--pistache);
  }

  .button__quinary:hover {
    background-color: var(--french-pass);
  }

  .button__tertiary:hover {
    background-color: var(--pistache);
  }

  .button__secondary:hover {
    background-color: var(--due);
  }

  .button__primary:hover {
    background-color: var(--lys-fersken);
  }
}

.button__term i {
  color: var(--pomegranate) !important;
}

.button__term::first-letter {
  text-transform: uppercase;
}

.button__link {
  background-color: transparent;
  font-size: 14px;
  color: var(--petroleum);
  font-weight: 400;
  text-decoration: underline;
}

.button__link:hover {
  text-decoration: underline;
}

.button__link2 {
  padding: 0 !important;
  background-color: transparent;
  font-size: 12px !important;
  color: var(--petroleum);
  font-weight: 600;
  border: 0 !important;
}

/* Sizes */
.button__large {
  padding: 10px 15px;
  font-size: 1.3em;
}

.button__medium {
  padding: 7px 10px;
  font-size: 1rem;
}

.button__small {
  text-transform: none;
  padding: 5px 10px;
  font-size: 0.85rem;
  font-weight: normal;
}

/* Variants */

.button__primary--bgcolor-fersken--color-white,
.button__primary--bgcolor-fersken--color-white:hover {
  background-color: var(--fersken);
  color: white;
}

.button__primary--bgcolor-due--color-white,
.button__primary--bgcolor-due--color-white:hover {
  background-color: var(--due);
  color: white;
}

.button__primary--bgcolor-korn--color-white,
.button__primary--bgcolor-korn--color-white:hover {
  background-color: var(--korn);
  color: white;
}

.button__primary--bgcolor-petroleum--color-white,
.button__primary--bgcolor-petroleum--color-white:hover {
  background-color: var(--petroleum);
  color: white;
}

.button__primary--bgcolor-fersken--color-petroleum,
.button__primary--bgcolor-fersken--color-petroleum:hover {
  background-color: var(--fersken);
  color: var(--petroleum);
}

.button__primary--bgcolor-due--color-petroleum,
.button__primary--bgcolor-due--color-petroleum:hover {
  background-color: var(--due);
  color: var(--petroleum);
}

.button__primary--bgcolor-korn--color-petroleum,
.button__primary--bgcolor-korn--color-petroleum:hover {
  background-color: var(--korn);
  color: var(--petroleum);
}

.button__primary--bgcolor-korn--color-petroleum:focus {
  outline-style: solid;
  outline-color: var(--petroleum);
}

.button__quaternary--bgcolor-porcelain--color-petroleum,
.button__quaternary--bgcolor-porcelain--color-petroleum:hover {
  background-color: var(--porcelain);
  color: var(--petroleum);
}

/* Feedback button */
.button__feedback {
  background-color: var(--pistache);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}


.button__feedback:hover {
  background-color: var(--sea-mist);
}
