.Button {
  padding: 9px 20px;
  border-radius: 4px;
  color: var(--petrolium);
  background-color: var(--concrete);
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 200ms;
}

/* Variants */
.Button__primary {
  text-transform: uppercase;
  background-color: var(--fersken);
}
.Button__primary:hover {
  background-color: var(--lys-fersken);
}

.Button__secondary {
  text-transform: uppercase;
  background-color: var(--french-pass);
}
.Button__secondary:hover {
  background-color: var(--due);
}

.Button__tertiary {
  text-transform: none;
  background-color: var(--porcelain);
  cursor: pointer;
  text-decoration: underline;
}

.Button__tertiary:hover {
  background-color: var(--pistache);
}

.Button__term {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: none;
  background-color: var(--concrete);
}

.Button__term:hover {
  background-color: var(--pistache);
}

/* Sizes */
.Button__large {
  text-transform: none;

  padding: 10px 15px;
  font-size: 1.3em;
}

.Button__medium {
  text-transform: none;
  padding: 7px 10px;
  font-size: 0.9rem;
}

.Button__small {
  text-transform: none;
  padding: 5px 10px;
  font-size: 0.75rem;
}
