.workPreview__review .Skeleton__text {
  max-width: 350px;
}

.infomedia_HeadLine {
  display: none;
}

.infomedia_SubHeadLine {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}

.infomedia_ByLine {
  font-size: 14px;
}

.infomedia_DateLine {
  font-size: 14px;
  color: var(--malibu);
  text-align: right;
 position: relative;
 top: -40px;
}

.infomedia_paper {
  font-size: 14px;
  color: var(--malibu);
  text-align: right;
  position: relative;
  top: -40px;
}

.infomedia_hedline {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 600;
}

.infomedia_text {
  font-size: 14px;
  margin-top: 10px;
}

.infomedia_logo img {
  display: block;
  margin: 0 auto;
  height: 20%;
  width: 20%;
  margin-bottom: 20px;
}

.infomedia_logo {
  margin-top: 20px;
  font-weight: 600;
  font-size: 0.78rem;
  text-transform: uppercase;
}

.noInfomediaAccess {
  color: var(--alto) !important;
}

.Review__container {
  height: auto;
  text-align: left;
  margin-bottom: 1em;
}

.Review__container a {
  cursor: pointer;
  text-decoration: underline !important;
}

.Review__container button {
  padding: 0 !important;
}

.Review__container button.button__link:hover span,
.Review__container button.button__link:focus span {
  color: var(--malibu);
}

.Review__block--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-col {
  min-width: 80px;
  text-align: right;
}

.WorkPreview__container .Review__block--lector,
.WorkPreview__container .Review__block--paragraph,
.WorkPreview__container .Review__block--link {
  font-size: 0.9em;
}

.Review__block--title {
  margin-bottom: 0;
}

.Review__block--title div.d-flex {
  margin-left: 0.8em;
}

.Review__block--paragraph {
  font-style: italic;
  margin-top: 0.8em;
}

.Review__block--link i {
  margin-left: 3px;
  font-size: 1.1em;
  font-weight: 600;
  vertical-align: bottom;
}

a.tooltips {
  position: relative;
  display: inline;
}

a.tooltips span {
  position: absolute;
  width: 140px;
  color: var(--petroleum);
  background: white;
  width: 250px;
  visibility: hidden;
  padding: 10px;
  border-radius: 6px;
  box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.19);
}

a:hover.tooltips span {
  visibility: visible;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 3;
}

.show-more-reviews {
  width: 100%;
  height: 200px;
  padding-top: 95px;
  position: absolute;
  z-index: 3;
  font-weight: 600;
  line-height: 100px;
  cursor: pointer;
  outline: none;
  bottom: 0;
  left: 0;
}

.show-more-reviews i {
  position: absolute;
  bottom: 21px;
}

.show-more-reviews div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: baseline;
  align-items: center;
  align-content: center;
}

.paper_reviews_hide_overflow {
  overflow: visible;
}

.paper_reviews_show {
  height: fit-content;

  overflow: hidden;
}

@media (max-width: 1024px){
  .infomedia_DateLine {
    text-align: left;
    position: inherit;
  }
  .infomedia_paper {
    text-align: left;
    position: inherit;
  }
}
