.Info .box-wrap {
  background-blend-mode: multiply;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat;
}

.Info .box-wrap.flipX {
  transform: scaleX(-1);
}

.Info .box-wrap.flipY {
  transform: scaleX(1);
}

.Info .box {
  width: 50vw;
  position: absolute;
  font-size: 3vw;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  font-family: var(--primary-black);
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

@media (max-width: 767px) {
  .Info .box-wrap {
    top: 0;
    left: 0;
  }

  .Info .box {
    width: 60vw;
    font-size: 7vw;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .Info .box {
    width: 50vw;
    font-size: 3vw;
  }
}

@media (max-width: 575px) {
  .Info .box-wrap {
    transform: scaleX(1) !important;
  }
}

@media (max-width: 350px) {
  .Info .box {
    width: 65vw;
  }
}
