.interaction-slide .box-wrap {
  -webkit-background-blend-mode: multiply;
  -ms-background-blend-mode: multiply;
  -moz-background-blend-mode: multiply;
  background-blend-mode: multiply;

  background-position: center center !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.interaction-slide .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.interaction-slide .box.box-left {
  left: 15%;
}
.interaction-slide .box.box-right {
  right: 15%;
}

.interaction-slide .box-wrap.flipX {
  transform: scaleX(-1);
}

.interaction-slide .box-wrap.flipY {
  transform: scaleX(1);
}

.interaction-slide .box .Button__term,
.interaction-slide .box .Button__primary {
  height: 60px;
}

.interaction-slide .box .Button__term:hover {
  background-color: var(--alto);
}

@media (max-width: 768px) {
  .interaction-slide .box.box-left {
    left: 5%;
  }
  .interaction-slide .box.box-right {
    right: 5%;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .interaction-slide .box {
    top: 50%;
  }

  .interaction-slide .box.box-left {
    left: 10%;
  }
  .interaction-slide .box.box-right {
    right: 10%;
  }
}

@media (max-width: 768px) and (orientation: landscape), (max-width: 576px) {
  .interaction-slide .box .Button__term,
  .interaction-slide .box .Button__primary {
    height: 40px;
  }

  .interaction-slide .box .Button__term {
    font-size: 18px;
  }

  .interaction-slide .box .Button__primary {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .interaction-slide .box-wrap.flipX {
    transform: scaleX(1) !important;
  }
  .interaction-slide .box.box-left,
  .interaction-slide .box.box-right {
    left: 5%;
  }
}
