.Term {
  border-radius: 5px;
  color: var(--petroleum);
  font-weight: 400;
  text-transform: none;
  background-color: var(--concrete);
  transition: background-color 200ms;
  line-height: 1em;
}
.Term:hover {
  background-color: var(--pistache);
}

/* Sizes */
.Term__large {
  padding: 15px 20px;
  font-size: 1.4em;
}
.Term__medium {
  padding: 10px 15px;
  font-size: 1.1em;
}
.Term__small {
  padding: 7px 15px;
  font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
  .Term__medium {
    padding: 7px 10px;
    font-size: 0.9em;
  }
}
