.compare-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  border-radius: 50%;
  display: flex;
  box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition-duration: 0.15s;
  justify-content: space-around;
}

@media only screen and (max-width: 576px) {
  .compare-button {
    width: 30px;
    height: 30px;
  }
}

.compare-button:hover {
  background-color: var(--korn);
}

.compare-button i {
  align-self: center;
}
