.BookmarkButtonCircle.icon-large i {
  font-size: 1.2rem;
}

.BookmarkButtonCircle {
  padding: 0;
}

.BookmarkButton i,
.BookmarkButton span {
  font-size: 1rem;
  vertical-align: middle;
}

.BookmarkButtonCircle {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
  box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 0.2s background;
  color: var(--petroleum);
  z-index: 1;
}
.BookmarkButtonTeardrop {
  border-top-right-radius: 0%;
}

.BookmarkButtonCircle.marked,
.BookmarkButton.marked {
  background: var(--korn);
}
@media (hover: none) {
  .BookmarkButton:focus {
    outline: 0;
    box-shadow: none !important;
  }
}
