.BookmarkButton i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.BookmarkButtonCircle {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 100%;
  border-top-right-radius: 0%;
  box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 0.2s background;
  text-align: center;
  color: var(--petroleum);
}

.BookmarkButtonCircle i,
.BookmarkButton i {
  vertical-align: middle;
}
.BookmarkButtonCircle:hover {
  background: var(--pistache);
}
.BookmarkButtonCircle.marked,
.BookmarkButton.marked {
  background: var(--korn);
}
