.outer-footer-container {
  display: flex;
  justify-content: center;
}

.footer-container {
  padding: 43px 10px 20px 25px;
  position: absolute;
  bottom: 0;
  max-width: 1201px;
  background-color: var(--lys-graa);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right:auto;
}

.logo-element-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.laesekompas-logo {
  width: 189px;
}

/* Media rule when footer folds to 2 rows with 2 elements in each */
@media (max-width: 940px) {
  .footer-element {
    flex-basis: 50%;
  }
}

/* Media rule when footer folds to 4 rows with 1 element in each */
@media (max-width: 414px) {
  .footer-element {
    flex-basis: 100%;
  }
}
