.Footer__outer-container--flexbox {
  display: flex;
  justify-content: center;
  background-color: var(--lys-graa);
  margin-top: 50px;
}

.Footer__outer-container--flexbox.Footer__sticky {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 0px;
}

.Footer__container--elements {
  padding: ;
  max-width: 1201px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.Footer__element--block {
  width: 25%;
}

.Footer__logo--element {
  width: 100%;
}

.Footer__logo--image {
  width: 189px;
}

/* Media rule when footer folds to 2 rows with 2 elements in each */
@media (max-width: 992px) {
  .Footer__element--block {
    flex-basis: 50%;
  }
}

/* Media rule when footer folds to 4 rows with 1 element in each */
@media (max-width: 576px) {
  .Footer__element--block {
    flex-basis: 100%;
  }
}
