.WorkCard {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 215px;
  min-width: 215px;
  vertical-align: top;
  text-align: left;
}

.WorkCard:last-child {
  margin-right: 1.5rem;
}

.WorkCard .book-cover {
  width: 100%;
  height: 70%;
  padding: 20px;
  background-color: var(--lys-graa);
  object-fit: contain;
}

.WorkCard .book-cover img {
  width: auto;
  height: 100%;
}

.WorkCard .book-cover p:first-child {
  padding-top: 50px;
}

.WorkCard .book-cover-content {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.WorkCard .BookmarkButton {
  margin-bottom: 0.5rem;
}

.WorkCard .CompareButton {
  transform: rotate(-25deg) scale(0);
  transition-timing-function: ease-in;
  transition-duration: 0.15s;
}

.WorkCard:hover .CompareButton,
.WorkCard .CompareButton.active {
  transition-timing-function: ease-out;
  transform: rotate(0deg) scale(1);
}

.WorkCard .CompareButton.active {
  background-color: var(--korn);
}

.WorkCard .taxonomy-description {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: var(--petroleum);
  white-space: normal;
  margin-top: 1em;
}

.WorkCard .hover-details {
  opacity: 0;
  transition: all 0.25s;
  background: linear-gradient(transparent, white 40%);
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}
.WorkCard.highlight .hover-details {
  opacity: 1;
}
.WorkCard:hover .hover-details {
  opacity: 1;
}

.WorkCard .expand-more-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.WorkCard.ghost {
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .WorkCard {
    height: 350px;
    width: 160px;
    min-width: 160px;
  }
}

@media only screen and (max-width: 480px) {
  .WorkCard {
    height: 180px;
    width: 130px;
    min-width: 130px;
  }
  .WorkCard .book-cover {
    height: 100%;
    padding: 10px;
  }
}
