.Filters__dimmer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 95;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.2s;
  cursor: pointer;
}

.Filters__dimmer-show {
  opacity: 1;
  pointer-events: auto;
  transition-duration: 0.3s;
}

.Filters__prev,
.Filters__next {
  width: 150px;
  height: 100px;
  top: 2rem;
  position: absolute;
  background-color: red;
  z-index: 99;
  font-weight: 600;
  line-height: 100px;
}

.Filters__prev span,
.Filters__next span {
  display: inline-block;
  line-height: normal;
  width: 40px;
  vertical-align: middle;
  text-align: left;
}

.Filters__prev i,
.Filters__next i {
  vertical-align: middle;
}

.Filters__prev {
  left: -1.2rem;
  text-align: left;
  background: linear-gradient(to left, transparent, white);
}

.Filters__next {
  right: -1.2rem;
  text-align: right;
  background: linear-gradient(to right, transparent, white);
}

.Filters__next.swiper-button-disabled,
.Filters__prev.swiper-button-disabled {
  display: none;
}

#root {
  overflow: hidden;
}

.Filters__swiper-container {
  height: 125px;
  padding: 1rem 0 1rem 0;
  white-space: nowrap;
  position: relative;
}

.Filters__swiper-wrapper {
  position: relative;
  z-index: 99;
  display: flex;
}

.FilterCard__container,
.FilterCard__space {
  width: 300px;
  height: 100px;
  margin: 1rem;
  display: block;
  background-color: transparent;
  transition-duration: 0.2s;
}

.FilterCard__space {
  display: none;
}

.FilterCard__container .FilterCard {
  height: 100%;
  background-color: var(--lys-graa);
  text-align: left;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.FilterCard .FilterCard__cover {
  display: block;
  width: 135px;
  min-width: 135px;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition-duration: 0.2s;
}

.FilterCard .FilterCard__content {
  width: calc(100% - 135px);
  padding: 1rem;
  background-color: white;
  transition-duration: 0.2s;
  pointer-events: none;
}

/* if card is expanded */

.FilterCard__container.FilterCard-expanded .FilterCard {
  display: block;
  overflow: visible;
  z-index: 99;
}

.FilterCard__container.FilterCard-expanded .FilterCard .FilterCard__cover {
  width: 100%;
  height: 175px;
}

.FilterCard__container.FilterCard-expanded .FilterCard__content {
  position: absolute;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  pointer-events: auto;
}

.FilterCard__container.FilterCard-expanded .FilterCard__list {
  white-space: wrap;
  text-overflow: clip;
  color: var(--petrolium);
}

@media only screen and (max-width: 600px) {
  .Filters__swiper-container {
    padding: 0;
  }

  .Filters__prev,
  .Filters__next {
    display: none;
  }

  .FilterCard__container,
  .FilterCard__space {
    width: 200px;
    height: 150px;
    margin: 1rem 0.5rem 1rem 0.5rem;
  }

  .FilterCard__space {
    width: 100px;
  }

  .FilterCard__container:first-child {
    margin-left: 0;
  }

  .FilterCard__container .FilterCard {
    display: flex;
    flex-wrap: wrap;
  }

  .FilterCard .FilterCard__cover {
    width: 200px;
    height: 85px;
  }

  .FilterCard .FilterCard__content {
    width: 100%;
  }

  /* if card is expanded */

  .FilterCard__container.FilterCard-expanded {
    width: 75vw;
  }

  .FilterCard__container.FilterCard-expanded .FilterCard .FilterCard__cover {
    width: 100%;
    height: 150px;
  }

  .FilterCard__container.FilterCard-expanded .FilterCard__content {
    height: auto;
  }

  .FilterCard__container.FilterCard-expanded
    .FilterCard__content
    .FilterCard__heading {
    line-height: 2rem;
    font-size: 1.2rem;
  }
}
