.CreateBelt .Banner__wrap {
    background-color: var(--kobber) !important;
}

.CreateBelt .Banner__title h1 {
    text-transform: uppercase;
}

.CreateBelt__container {
    padding-left: 0;
    padding-right: 0;
    max-width: 672px;
    margin-top: 1em;
}

.CreateBelt label.Input__label {
    margin-top: 1.2em;
    font-weight: bold;
}

.CreateBelt .Button {
    font-size: inherit;
}

.CreateBelt .Toolbar__center {
    justify-content: space-evenly;
}

.CreateBelt .Toolbar__left,
.CreateBelt .Toolbar__right {
    display: none;
}

.CreateBelt #cancel-button {
    background-color: transparent;
}

.CreateBelt .Divider {
    margin-top:1.5em;
}

.CreateBelt .CreateBelt__radioButton {
    display: flex;
    margin-top: 8px;
}

.CreateBelt .CreateBelt__radioButtonContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.CreateBelt .publish-today {
    text-align: right;
    margin: auto 0;
}

.CreateBelt .Text.disabled {
    color: var(--silver-chalice);
}

.CreateBelt .filters {
    margin-top: 16px;
}

.CreateBelt .selected-filters-wrap {
    align-items: center;
}

.CreateBelt .selected-filters-wrap #react-autowhatever-1 {
    position: absolute;
}

.CreateBelt .selected-filters-wrap .material-icons-search {
    display: none!important;
}

.CreateBelt .filter-page-searchbar {
    position: relative;
    display: flex;
}

.CreateBelt .filter-page-searchbar .selected-filter {
    margin-top: auto;
    margin-bottom: auto;
}

.CreateBelt .filter-page-searchbar input {
    min-width: 10rem;
    font-size: 18px;
    height: 64px;
    padding: 0 0.5rem;
}

.CreateBelt .filter-page-searchbar .material-icons-search {
    margin: auto 11px auto 22px;
    font-size: 22px;
}

.CreateBelt .filter-page-searchbar .material-icons-cancel {
    display: none!important;
}

@media (max-width: 768px) {
    .CreateBelt__container {
        padding: 0 1rem;
    }

    .CreateBelt .publish-today {
        width: 100%;
    }

    .CreateBelt .filter-page-searchbar {
        flex-direction: row-reverse;
        height: 38px;
    }

    .CreateBelt .filter-page-searchbar input {
        height: 100%;
    }

    .CreateBelt .selected-filter {
        padding: 4px 8px;
    }

    .CreateBelt .selected-filter span {
        font-size: 12px;
    }

    .CreateBelt .selected-filters-wrap #react-autowhatever-1 {
        top: 40px;
    }
}
