.CreateBelt .Banner__wrap {
    background-color: var(--kobber) !important;
}

.CreateBelt .Banner__title h1 {
    text-transform: uppercase;
}

.CreateBelt__container {
    padding-left: 0;
    padding-right: 0;
    max-width: 672px;
    margin-top: 1em;
}

.CreateBelt label.Input__label {
    margin-top: 1em;
    font-weight: bold;
}

.CreateBelt .Button {
    font-size: inherit;
}

.CreateBelt .Toolbar__center {
    justify-content: space-evenly;
}

.CreateBelt .Toolbar__left,
.CreateBelt .Toolbar__right {
    display: none;
}

.CreateBelt #cancel-button {
    background-color: transparent;
}

.CreateBelt .Divider {
    margin-top:1.5em;
}

.CreateBelt .CreateBelt__radioButton {
    display: flex;
    margin-top: 8px;
}

.CreateBelt .CreateBelt__radioButtonContainer {
    display: flex;
    justify-content: space-between;
}

.CreateBelt .Text.disabled {
    color: var(--silver-chalice);
}
