i {
  /* must be 0px to prevent material icon names to show up on loading*/
  font-size: 0px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-xsmall {
  font-size: 1rem;
}
.material-icons.md-small {
  font-size: 18px;
}
.material-icons.md-medium {
  font-size: 24px;
}
.material-icons.md-large {
  font-size: 28px;
}
.material-icons.md-xlarge {
  font-size: 34px;
}
.material-icons.md-xxlarge {
  font-size: 54px;
}

/* disbaled icon */
.material-icons.md-disabled {
  cursor: default;
  opacity: 0.5;
}
