i {
  /* must be 0px to prevent material icon names to show up on loading*/
  font-size: 0px;
}

.material-icons.md-xsmall {
  font-size: 1rem;
}
.material-icons.md-small {
  font-size: 18px;
}
.material-icons.md-medium {
  font-size: 24px;
}
.material-icons.md-large {
  font-size: 28px;
}
.material-icons.md-xlarge {
  font-size: 34px;
}
